html, body {
    min-height: 100%;
    min-width: 100%;
    line-height: 30px;
	-webkit-transition: all 300ms linear;
    transition: all 300ms linear; 
    overflow-x: hidden;
    overflow-y: hidden;
}
body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}
.home-top {
    position: fixed;
    width: 90%;
    height: 50px;
    left: 5%;
    top: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-top: 0px;
    background: white;
}
.top-logo {
    position: absolute;
    width: 10%;
    height: 50px;
    left: 0%;
    top: 0px;
    padding-left: 10px;
    padding-top: 0px;
    background: none;
    display: flex;
    flex-direction: row;
}
.logo-font {
    font-family: sans-serif;
    color: var(--logoGreen);
    font-size: 20px;
    line-height: 20px;
    margin-left: 10px;
    margin-top: 15px;
    background: none;
}
.top-buttons-left {
    position: absolute;
    width: 60%;
    height: 50px;
    margin-left: 150px;
    top: 0px;
    padding-left: 0px;
    padding-top: 0px;
    background: none;
    display: flex;
    flex-direction: row;
    background-color: none;
    overflow-x: scroll;
}
.top-buttons-left::-webkit-scrollbar {
    display: none;
}
.top-buttons-right {
    position: absolute;
    width: 25%;
    margin-left: 150px;
    top: 0px;
    right: 0px;
    padding-left: 0px;
    padding-top: 0px;
    background: none;
    display: flex;
    flex-direction: row-reverse;
    background-color: none;
}
.individual-button {
    background: none;
    border: none;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    width: fit-content;
    background-color: none;
    width: fit-content;
    margin: 10px;
    opacity: 70%;
    color: black;
}
.give-item {
    padding: 5px, 10px, 5px, 10px;
    margin-top: 8px;
    position: relative;
    border: none;
    border-radius: 5px;
    height: 34px;
    width: 82px;
    font-size: 20px;
    font-style: bold;
    font-family: sans-serif;
    color: white;
    background-color: var(--mainGreen1);
}
.profile-icon {
    color: black;
    opacity: 70%;
    padding-left: 10px;
    padding-top: 10px;
    border: none;
    width: fit-content;
    height: 50px;
    background: none;
    display: flex;
    flex-direction: row;
    background-color: none;
}
.profile-icon p {
    color: black;
    opacity: 70%;
    font-size: 15px;
    padding-left: 10px;
    padding-top: 0px;
    margin-top: 0px;
    width: fit-content;
    background-color: none;
}
.search-div {
    width: 90%;
    left: 5%;
    height: fit-content;
    position: fixed;
    padding-top: 10px;
    top: 50px;
    background: white;
}
.icon-search {
    color: #C1C7DE;
    position: absolute;
    margin-left: 15px;
    margin-top: 11px;
}
.search {
    padding: 8px, 11px, 8px, 11px;
    height: 40px;
    width: 90%;
    border-radius: 5px 0px 0px 5px;
    font-family: sans-serif;
    font-size: 12px;
    color: black;
    background: none;
    border: 1px solid #CDD1DC;
    padding-left: 50px;
    opacity: 1;
    position: relative;
    overflow: hidden;
}
.search::placeholder {
    color: #C1C7DE;
}
.button-option {
    height: 40px;
    width: 10%;
    background: #F4EFBA;
    color: #373737;
    text-align: center;
    border-radius: 0px 5px 5px 0px;
    padding-left: 10px;
    border: 1px solid #CDD1DC;
    font-family: sans-serif;
    font-size: 20px;
    font-style: bold;
    cursor: pointer;
}
.display-text {
    color: black;
}
.bargain-timeline {
    background-color: none;
    overflow-y: scroll;
    height: 300px;
    width: 800px;
    margin-top: 20px;
    margin-left: 0px;
}

.bargain-timeline::-webkit-scrollbar {
    display: none;
}
.timeline-div {
background-color: #474e5d;
font-family: Helvetica, sans-serif;
}

/* The actual timeline (the vertical ruler) */
.timeline {
position: relative;
max-width: 1200px;
margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
content: '';
position: absolute;
width: 6px;
background-color: var(--mainGrey2);
top: 0;
bottom: 0;
left: 50%;
margin-left: -3px;
}

/* Container around content */
.container {
padding: 10px 40px;
position: relative;
background-color: inherit;
width: 50%;
}

/* The circles on the timeline */
.container::after {
content: '';
position: absolute;
width: 25px;
height: 25px;
right: -17px;
background-color: white;
border: 4px solid var(--mainGreen1);
top: 15px;
border-radius: 50%;
z-index: 1;
}

/* Place the container to the left */
.left {
left: 0;
}

/* Place the container to the right */
.right {
left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
content: " ";
height: 0;
position: absolute;
top: 22px;
width: 0;
z-index: 1;
right: 30px;
border: medium solid var(--mainGrey2);
border-width: 10px 0 10px 10px;
border-color: transparent transparent transparent var(--mainGrey2);
}

/* Add arrows to the right container (pointing left) */
.right::before {
content: " ";
height: 0;
position: absolute;
top: 22px;
width: 0;
z-index: 1;
left: 30px;
border: medium solid var(--mainGrey2);
border-width: 10px 10px 10px 0;
border-color: transparent var(--mainGrey2) transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
left: -16px;
}

/* The actual content */
.content {
padding: 20px 30px;
background-color: var(--mainGrey2);
position: relative;
border-radius: 6px;
}
  

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
    display: none;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

/* Add styles to the form container */
.form-container {
    max-width: 800px;
    height: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

.user-div {
    position: absolute;
    right: 10px;
    bottom: 5px;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    background: none;
}
.chat-icon {
    background: none;
    color: black;
    border: none;
    padding: 10px;
    margin-left: 5px;
    width: fit-content;
    height: 50px;
    cursor: pointer;
    font-family: sans-serif;
}
.edit-icon {
    background: none;
    color: black;
    border: none;
    padding: 10px;
    margin-left: 0px;
    width: fit-content;
    height: 50px;
    cursor: pointer;
    font-family: sans-serif;
}
.delete-icon {
    background: none;
    color: black;
    border: none;
    padding: 10px;
    margin-left: 0px;
    width: fit-content;
    height: 50px;
    cursor: pointer;
    font-family: sans-serif;
}

.chat-icon:hover {
    color: var(--logoGreen3);
}
.delete-icon:hover {
    color: var(--logoGreen3);
}
.edit-icon:hover {
    color: var(--logoGreen3);
}
.contact-div {
    height: 150px;
    width: 350px;
    padding: 20px, 20px, 20px, 26px;
    box-shadow: inset 6px 0px 0px 0px rgba(1, 143, 121, 1), 0px 10px 30px 3px rgba(5, 16, 55, 0.15);
    background: white;
    border-radius: 5px;
    position: relative;
    margin-right: 10%;

}
.interactive-div {
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    height: 300px;
    background: none;
    display: flex;
    flex-direction: row;
    color: black;
    background-color: none;
}
.chat-owner {
    font-family: sans-serif;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.5);
    padding-top: 0px;
    margin-top: 10px;
    margin-left: 5px;
    
}
.owner-div {
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    margin-bottom: 20px;
    width: 300px;
    height: 50px;
    background-color: none;
    margin-top: 20px;
}
.account-icon {
    margin-top: 10px;
}
.chat-btn {
    background-color: rgba(1, 143, 121, 1);
    border-radius: 5px;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    width: 300px;
    height: 40px;
    border: none;
    cursor: pointer;
    position: relative;
    margin-left: 25px;
}
.chat-btn:hover {
    background-color: rgba(1, 143, 121, 0.5);
}
.user-list-div {
    width: 20%;
    background: none;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}
.user-list-div::-webkit-scrollbar {
    display: none;
}
.user-selection {
    height: 50px;
    border: none;
    background-color: var(--mainGrey2);
}
.user-selection:hover {
    background-color: white;
}
.bargain-list-div {
    width: 40%;
    background: none;
    overflow-y: scroll;
}
.bargain-list-div::-webkit-scrollbar {
    display: none;
}
.notes-list-div {
    width: 40%;
    background: none;
    display: flex;
    flex-direction: column;
}
.notes-textarea {
    margin: 10px;
    height: 50%;
    font-size: 14px;
    font-family: sans-serif;
}
.agree-decline-btn {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    height: 20%;
    border: none;
    
    color: white;
}
.green {
    background-color: green;
}
.red {
    background-color: red;
}
.black {
    background-color: black;
}
.agree-decline-btn:hover {
    background-color: var(--mainGrey2);
}

.owner-interactive-div {
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    height: 300px;
    background: red;
    display: flex;
    flex-direction: row;
    color: black;
}
.status-div {
    width: 600px;
    height: 150px;
    background: none;
    position: fixed;
    margin-top: 50px;
    margin-left: 50px;
    
}
.status-div pre {
    color: black;
}

.item-accept-div {
    width: 30%;
    display: flex;
    flex-direction: column;
    background: yellow;
}
.item-waiting-div {
    width: 50%;
    background: var(--mainGrey2);
    overflow-y: scroll;
}
.item-finish-div {
    width: 20%;
    background: blue;
}
.green-value {
    font-family: sans-serif;
    font-size: 100px;
    font-weight: 600;
    position: absolute;
    margin-top: 60px;
    left: 15%;
    padding-left: 50px;
    color: var(--logoGreen2);
}
.green-icon {
    position: absolute;
    left: 10%;
    bottom: -5px;
    width: fit-content;
    height: fit-content;
    background: none;
    color: var(--logoGreen2);
}
.vl {
    border-left: 6px solid green;
    height: 50px;
    position: relative;
    margin-left: 100px;
    margin-top: 0%;
  }
.price-block {
    width: 90%;
    margin-left: 5%;
    height: 30px;
    border-radius: 10px;
    background: white;
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
}
.reject{
    color: red;
    font-size: 14px;
    font-family: sans-serif;
    padding: 0px;
    margin-top: 5px;
    margin-left: 280px;
}

.request-item-price {
    font-family: sans-serif;
    font-size: 10px;
    font-weight: 600;
    margin-left: 20px;
    color: black;
    line-height: 16px;
    padding: 0px;
    margin-top: 5px;
    margin-left: 5px;
    width: fit-content;
    height: fit-content;
}
    
.price-div::-webkit-scrollbar {
    display: none;
}
.interaction-div {
    position: absolute;
    right: 10%;
    width: fit-content;
    border: none;
    background: none;
    color: black;
    cursor: pointer;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.interaction-div:disabled {
    color: grey;
}
.interaction-div:hover{
    color: var(--logoGreen3);
}
.create-style {
    width: 250px; 
    height: 40px; 
    margin-bottom: 10px;
    text-align: center;
    line-height: 40px;
    border: none;
    background: var(--logoGreen);
    color: white;
    font-family: 'Alatsi';
    border-radius: 10px;
    cursor: pointer;
  }
  .create-style:hover {
    background: var(--mainGreen3);
  }
  .create-style:disabled {
      background: var(--mainGreen3);
  }
.item-info-card {
    width: 80%;
    height: 400px;
    border-radius: 20px;
    background: none;
    margin-left: 10%;
    margin-top: 120px;
    position: relative;
    display: flex;
    flex-direction: row;
}
.request-item-info-card {
    width: 80%;
    height: 300px;
    border-radius: 20px;
    background: var(--mainGrey2);
    margin-left: 10%;
    margin-top: 80px;
    position: relative;
    display: flex;
    flex-direction: column;
}
.item-img {
    height: 400px;
    width: 400px;
    border-radius: 10px;
    object-fit: cover;
    object-position: 0px 0px;
}
.request-item-img {
    height: 200px;
    width: 200px;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
    object-position: 0px 0px;
}

.request-item-name{
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: black;
    line-height: 15px;
}
.item-static-info {
    margin: 20px;
    height: max-content;
    width: max-content;
    background: none;
}
.item-name{
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
    color:rgba(55, 55, 55, 1);
    line-height: 20px;
}
.item-price {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: rgba(55, 55, 55, 1);
    line-height: 0%;
    padding: 0px;
    margin-top: 5px;
    width: fit-content;
    height: fit-content;
}
.tag-div {
    display: flex;
    flex-direction: row;
}
.item-quality-tag {
    border: 1px solid var(--logoGreen1);
    border-radius: 3px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 600;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    width: fit-content;
    background: var(--logoGreen1);
    color: white;
}
.item-cate-tag {
    border: 1px solid var(--logoGreen3);
    border-radius: 3px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 600;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 5px;
    width: fit-content;
    background: var(--logoGreen3);
    color: black;
}
.item-info {
    font-family: 'Alatsi';
    font-size: 14px;
    color: black;
}
.item-owner {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: black;
    line-height: 0%;
}
.item-location {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: black;
    background: none;
    padding: 0px;
    margin-top: 5px;
    margin-left: 5px;
    width: fit-content;
    height: fit-content;
}
.location-div{
    display: flex;
    flex-direction: row;
}
.item-time {
    font-size: 14px;
    color: black;
    font-family: sans-serif;
    line-height: 14px;
    font-weight: 600;
}
.font-class {
    font-family: 'Alatsi';
    color: black;
}
.info-pack {
    display: flex;
    flex-direction: column;
    height: fit-content;
    position: relative;
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    background: var(--mainGrey2);
    border-radius: 20px;
}
.welcoming {
    font-family: sans-serif;
    font-size: 16px;
    margin: 0px;
    color: black;
}
.right-align {
    text-align: right;
}
.suggest-pack {
    margin-left: 5%;
    margin-top: 20px;
    width: 70%;
    height: 500px;
    border-radius: 10px;
    overflow-y: scroll;
}
.suggest-post {
    margin-top: 20px;
    width: 20%;
    height: 415px;
    border: none;
    border-radius: 10px;
    background: var(--mainGreen1);
    color: white;
    font-family: 'Alatsi';
    cursor: pointer;
}
.suggest-post:hover {
    background: var(--mainGreen3);
}
.individual-suggest {
    width: 98%;
    margin-left: 1%;
    margin-top: 5px;
    height: 80px;
    border-radius: 10px;
    background: red;
}
.reserved-info {
    width: 80%;
    margin-left: 10%;
    height: fit-content;
    padding: 20px;
    position: relative;
    margin-top: 0px;
    background: var(--mainGrey2);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}
.page-frame {
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}



.top-buttons {
    position: absolute;
    width: 600px;
    height: 50px;
    right: 0%;
    top: 0px;
    padding-left: 0px;
    padding-top: 0px;
    background: none;
    display: flex;
    flex-direction: row-reverse;
}

.suggest-btn {
    width: 90%; 
    height: 20px; 
    position: relative;
    margin-left: 2.5%;
    text-align: center;
    line-height: 20px;
    border: none;
    background: none;
    color: black;
    font-family: sans-serif;
}
.item-image {
    height: 400px;
    width: 100%;
    background-color: none;
    padding-left: 10%;
    display: flex;
    flex-direction: row;
}
.user-title {
    font-family: 'Alatsi';
    font-size: 20px;
    color: black;
    margin-left: 20px;
    margin-top: 10px;
}
.home-logout {
    position: absolute;
    right: 10px;
    top: 10px;
    background: none;
    border: none;
    font-family: 'Alatsi';
    font-size: 16px;
    margin: 20px;
    color: black;
}




.question-box {
    margin-top: 20px;
    width: 700px;
    height: 550px;
    left: 0%;
    margin-left: 10px;
    border-radius: 10px;
    padding-top: 0px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    position: relative;
    font-family: 'Alatsi';
    color: black;   
    background: none;
    display: flex;
    flex-direction: column;
}
.seller-info {
    margin-top: 20px;
    width: 500px;
    height: 550px;
    right: 0%;
    margin-left: 10px;
    border-radius: 10px;
    padding-top: 0px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 10px;
    position: relative;
    font-family: 'Alatsi';
    color: black;   
    background: none;
    display: flex;
    flex-direction: column;
}
.scroll-div {
    margin-top: 50px;
    position: relative;
    overflow-y: scroll;
    height: 794px;
    background: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.scroll-div::-webkit-scrollbar {
    display: none;
}
.lable-txt {
    color: var(--mainGreen1);
    font-family: 'Alatsi';
    font-size: 14px;
}
.filter-div {
    height: 30px;
    position: relative;
    margin-top: 10px;
    background: none;
    display: flex;
    flex-direction: row;
}
.display-table {
    display: table;
    position: relative;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 30px;
    border-spacing:5px;
}
.display-row {
    display: table-row;
    position: relative;
}
.on-sale-div {
    background: var(--mainGrey2);
    position: relative;
    border-radius: 10px 10px 0px 0px;
    height: fit-content;
    padding-top: 10px;
    display: table-cell;
}
.table-div {
    background: var(--mainGrey2);
    position: relative;
    height: fit-content;
    padding-top: 10px;
    display: table-cell;
}
.on-sale-block {
    display: table-cell;
    padding: 5px;
    background: white;
    color: black;
    position: relative;
    width: 170px;
    height: 235px;
    border-radius: 10px;
    position: relative;
}
.request-item-block {
    display: table-cell;
    padding: 0px;
    background: var(--mainGrey2);
    color: black;
    position: relative;
    width: 150px;
    height: fit-content;
    border-radius: 10px;
    position: relative;
}
.display-image {
    border-radius: 10px 10px 0px 0px;
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: 0px 0px;
}
.account-style {
    position: relative;
    text-align: center;
    line-height: 40px;
    border: none;
    background: var(--mainGreen1);
    color: white;
    font-family: 'Alatsi';
    width: 370px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 10px;
}
.account-style:active {
    background: var(--mainGrey2);
    color: black;
}
:root {
    --mainGreen1: #274E45;
    --mainGreen2: #4B8173;
    --mainGreen3: #B1CFC9;
    --mainBlue1: #222E3C;
    --mainBlue2: #455D74;
    --mainOrgange: #F26542;
    --mainYellow: #FEE44C;
    
    --mainGrey1: #6C6A6A;
    --mainGrey2: #F2F2F2;

    --white: #ffffff;
	--light: #f0eff3;
	--black: #000000;
	--dark-blue: #1f2029;
	--dark-light: #353746;
	--red: #da2c4d;
	--yellow: #f8ab37;
    --grey: #ecedf3;
    
    --logoGreen: #73A8AC;
    --fontGrey: #373737;

    --logoGreen1: #73A8AC;
    --logoGreen2: #8FC7AB;
    --logoGreen3: #C3DEA9;
    --logoYellow: #F4EFBA;
}



/* Please ❤ this if you like it! */


@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');


/* #Primary
================================================== */


p{
    font-family: 'Poppins', sans-serif;
	font-size: 17px;
	line-height: 30px;
	color: var(--white);
	letter-spacing: 1px;
	font-weight: 500;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
::selection {
	color: var(--white);
	background-color: var(--black);
}
::-moz-selection {
	color: var(--white);
	background-color: var(--black);
}
mark{
	color: var(--white);
	background-color: var(--black);
}
.section {
    position: relative;
	width: 100%;
	display: block;
	text-align: center;
	margin: 0 auto;
}
.over-hide {
    overflow: hidden;
}
.z-bigger {
    z-index: 100 !important;
}


.background-color{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--mainGrey2);
	z-index: 1;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.checkbox:checked ~ .background-color{
	background-color: var(--white);
}


[type="checkbox"]:checked,
[type="checkbox"]:not(:checked),
[type="radio"]:checked,
[type="radio"]:not(:checked){
	position: absolute;
	left: -9999px;
	width: 0;
	height: 0;
	visibility: hidden;
}
.checkbox:checked + label,
.checkbox:not(:checked) + label{
	position: relative;
	width: 70px;
	display: inline-block;
	padding: 0;
	margin: 0 auto;
	text-align: center;
	margin: 17px 0;
	margin-top: 100px;
	height: 6px;
	border-radius: 4px;
	background-image: linear-gradient(180deg, rgba(143,199,171,1) 0%, rgba(195,222,169,1) 35%, rgba(244,239,186,1) 100%);
	z-index: 100 !important;
}
.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before {
	position: absolute;
	font-family: 'unicons';
	cursor: pointer;
	top: -17px;
	z-index: 2;
	font-size: 20px;
	line-height: 40px;
	text-align: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.checkbox:not(:checked) + label:before {
	content: '\eac1';
	left: 0;
	color: var(--grey);
	background-color: var(--mainGrey2);
	box-shadow: 0 4px 4px rgba(0,0,0,0.15), 0 0 0 1px rgba(26,53,71,0.07);
}
.checkbox:checked + label:before {
	content: '\eb8f';
	left: 30px;
	color: var(--yellow);
	background-color: var(--mainGrey2);
	box-shadow: 0 4px 4px rgba(26,53,71,0.25), 0 0 0 1px rgba(26,53,71,0.07);
}

.checkbox:checked ~ .section .container .row .col-12 p{
	color: var(--mainGrey2);
}


.checkbox-tools:checked + label,
.checkbox-tools:not(:checked) + label{
	position: relative;
	display: inline-block;
	padding: 20px;
	width: 92%;
	font-size: 14px;
	margin-left: 2%;
	margin-bottom: 10px;
	text-align: center;
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
	color: white;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear; 
}
.checkbox-tools:not(:checked) + label{
	background-color: var(--mainGrey2);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}
.checkbox-tools:checked + label{
	background-color: transparent;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-tools:not(:checked) + label:hover{
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.checkbox-tools:checked + label::before,
.checkbox-tools:not(:checked) + label::before{
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	background-image: linear-gradient(180deg, rgba(143,199,171,1) 0%, rgba(195,222,169,1) 35%, rgba(244,239,186,1) 100%);
	z-index: -1;
}
.checkbox-tools:checked + label .uil,
.checkbox-tools:not(:checked) + label .uil{
	font-size: 12px;
	display: block;
	padding-bottom: 10px;
}

.checkbox:checked ~ .section .container .row .col-12 .checkbox-tools:not(:checked) + label{
	background-color: var(--light);
	color: var(--dark-blue);
	box-shadow: 0 1x 4px 0 rgba(0, 0, 0, 0.05);
}

.link-to-page {
	position: fixed;
    top: 30px;
    right: 30px;
    z-index: 20000;
    cursor: pointer;
    width: 50px;
}
.link-to-page img{
	width: 100%;
	height: auto;
	display: block;
}