html, body {
    min-height: 100%;
    min-width: 100%;
}
body {
    background: var(--logoGreen2);
}
a { color: inherit; } 
.green-icon {
    color: var(--logoGreen2);
    position: absolute;
    bottom: -5px;
    right: 5px;
}
.bargain-icon {
    color: black;
    position: absolute;
    top: 5px;
    left: 5px;
    background: white;
    border-radius: 2px;
}
.display-name {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;
    margin-top: 15px;
    line-height: 0%;
    color: black;
    padding-left: 0px;
    width: 100%;
}
.green-value {
    position: absolute;
    color: var(--logoGreen1);
    bottom: 8px;
    font-weight: 700;
    right: 10px;
}
progress {
    border: 0;
    margin-top: 6px;
    margin-left: 2px;
    height: 5px;
    border-radius: 20px;
    color: green;
}
progress::-webkit-progress-bar {
    border: 0;
    height: 5px;
    border-radius: 20px;
    background: var(--mainGrey2);
}
progress::-webkit-progress-value {
    border: 0;
    height: 5px;
    border-radius: 20px;
    background: green;
}
progress::-moz-progress-bar {
    border: 0;
    height: 5px;
    border-radius: 20px;
    background: var(--mainGrey2);
}
.progress-value {
    font-size: 10px;
    color: var(--mainGrey1);
    font-family: sans-serif;
    margin-left: 5px;
    margin-top: 2px;
}
.page-frame {
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
hr.rounded {
    border-top: 1px solid #bbb;
    border-radius: 1px;
}
.font-class {
    font-family: sans-serif;
}
.home-top {
    position: fixed;
    min-width: 100%;
    height: 50px;
    left: 0px;
    top: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-top: 0px;
    background: white;
}
.header {
    width: 100%;
    height: fit-content;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    position: fixed;
    margin-top: 50px;
}

.head-img {
    margin-top: 130px;
    width: 80%;
    margin-left: 10%;
    height: 400px;
    border-radius: 5px;
    object-fit: cover;
    object-position: 0px 0px;
}
.item-display-div {
    width: 80%;
    margin-left: 10%;
    position: relative;
    margin-top: 150px;
    height: fit-content;
    border-spacing:0px;
    display: grid;
    grid-template-columns: 19% 19% 19% 19% 19%;
    column-gap: 10px;
    row-gap: 10px;
}
.on-sale-block {
    display: table-cell;
    background: white;
    position: relative;
    width: 19%;
    height: 250px;
    border-radius: 10px;
}
.display-image {
    width: 100%;
    height: 200px;
    position: relative;
    left: 0px;
    top: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    border-radius: 5px 5px 0px 0px;
    object-fit: cover;
    object-position: 0px 0px;
}
.display-text {
    font-family: sans-serif;
    font-size: 10px;
    color: black;
    padding-left: 0px;
    width: 100px;
}

.display-price {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 0%;
    color: black;
    padding-left: 0px;
    width: 100%;
}
.top-buttons-left {
    position: absolute;
    width: 500px;
    height: 50px;
    margin-left: 150px;
    top: 0px;
    padding-left: 0px;
    padding-top: 0px;
    background: none;
    display: flex;
    flex-direction: row;
}
.top-buttons {
    position: absolute;
    width: 500px;
    height: 50px;
    right: 0%;
    top: 0px;
    padding-left: 0px;
    padding-top: 0px;
    background: none;
    display: flex;
    flex-direction: row-reverse;
}
.request-list {
    width: 380px;
    height: 100%;
    background: none;
    position: fixed;
    right: 0px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}
.lifebase {
    width: 30%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
    height: 100%;
    background: none;
    position: relative;
    right: 0px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    background: var(--mainGrey2);
    border-radius: 10px;
    border: none;
}
.lifeboard {
    width: 32%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
    height: 100%;
    background: none;
    position: relative;
    right: 0px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    background: var(--mainGrey2);
    border-radius: 10px;
    border: none;
}
.request-link {
    width: 100%;
    font-family: sans-serif;
    font-size: 16px;
    color: black;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.request-all {
    text-align: start;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
}
.user-title {
    font-family: sans-serif;
    font-size: 20px;
    color: black;
    margin-left: 20px;
    margin-top: 10px;
}
.home-logout {
    position: absolute;
    right: 10px;
    top: 10px;
    background: none;
    border: none;
    font-family: sans-serif;
    font-size: 16px;
    margin: 20px;
    color: black;
}
.top-logo {
    position: absolute;
    width: 500px;
    height: 50px;
    left: 0%;
    top: 0px;
    padding-left: 10px;
    padding-top: 0px;
    background: none;
    display: flex;
    flex-direction: row;
}
.logo-font {
    font-family: sans-serif;
    color: var(--logoGreen);
    font-size: 18px;
    margin-left: 10px;
    margin-top: 17px;
}
.individual-button {
    background: none;
    border: none;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin: 20px;
    color: black;
}
.welcoming {
    font-family: sans-serif;
    font-size: 16px;
    margin: 20px;
    color: black;
}
.scroll-div {
    margin-top: 30px;
    position: relative;
    overflow-y: scroll;
    height: 794px;
    width: 100%;
    background: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.scroll-div::-webkit-scrollbar {
    display: none;
}
.search-div {
    width: 100%;
    height: 30px;
    position: relative;
    left: 10%;
    margin-top: 10px;
}
.filter-div {
    width: 80%;
    height: 30px;
    position: relative;
    left: 10%;
    margin-top: 20px;
    background: none;
    display: flex;
    flex-direction: row;
}
.search {
    width: 80%;
    height: 40px;
    font-family: sans-serif;
    font-size: 12px;
    color: var(--mainGrey1);
    background: none;
    border: 1.5px solid var(--mainGrey2);
    padding-left: 50px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 5px;
    overflow: hidden;
}
.lable-txt {
    color: var(--mainGreen1);
    font-family: sans-serif;
    font-size: 14px;
}
.icon-search {
    color: var(--mainGrey1);
    position: relative;
    margin-left: 15px;
    margin-top: 11px;
}
.button-option {
    height: 30px;
    width: 180px;
    background: white;
    text-align: center;
    border-radius: 20px;
    padding-left: 10px;
    margin-right: 5px;
    border: 1.5px solid var(--mainGrey2);
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}
.table-div {
    background: none;
    position: relative;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    display: table-cell;
    background: gray;
}
.display-table {
    display: table;
    position: relative;
    border-spacing:10px;
    display: grid;
    grid-template-columns: 340px 340px 340px;
    column-gap: 10px;
    row-gap: 0px;
    background: none;
    width: fit-content;
}
.display-row {
    display: table-row;
    position: relative;
}




.account-style {
    position: relative;
    text-align: center;
    line-height: 40px;
    border: none;
    background: var(--mainGreen1);
    color: white;
    font-family: sans-serif;
    width: 370px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 10px;
}
.account-style:active {
    background: var(--mainGrey2);
    color: black;
}
:root {
    --mainGreen1: #274E45;
    --mainGreen2: #4B8173;
    --mainGreen3: #B1CFC9;
    --mainBlue1: #222E3C;
    --mainBlue2: #455D74;
    --mainOrgange: #F26542;
    --mainYellow: #FEE44C;
    
    --mainGrey1: #6C6A6A;
    --mainGrey2: #F2F2F2;

    --logoGreen: #73A8AC;
    --fontGrey: #373737;

    --logoGreen1: #73A8AC;
    --logoGreen2: #8FC7AB;
    --logoGreen3: #C3DEA9;
    --logoYellow: #F4EFBA;
}