body {
    background : white;
    min-height: 100%;
    min-width: 100%;
}        

html {
    min-height: 100%;
    min-width: 100%;
}
a { color: inherit; } 
.slope {
	background: #CADC88;
	width: 100%;
	height: 100px;
	border-radius: 50% 50% 0px 0px / 100% 100% 0px 0px;
	overflow: hidden;
    z-index: -1;
}
.slope:before {
    content: "";
    background: #F2EDB4;
    border-radius: 50%;
    width:80px;
    height: 30px;
    position: absolute;
    left:50%;
    margin-left: -40px;
    top:-5px;   
    
    
}
.background {
    width: 350px;
    height: 445px;
    position: absolute;
    margin: auto;
    bottom: 0;
    left: -200px;
    right: -200px;
    
}
.background .slope {
    position: absolute;
    bottom:0;
}
.background>.flower {
    width: 25px;
    height: 25px;
    z-index: 0;
}
.background>.flower1 {
    top: 30px;
    left: 20%;
}
.background>.flower2 {
    top: 50px;
    left: 40%;
}
.background>.flower3 {
    top: 20px;
    left: 60%;
}
.background>.flower4 {
    top: 80px;
    left: 80%;
}
.background>.flower5 {
    top: 80px;
    left: 50%;
}
.tree {
/* 			background: ; */
    width:2px;
/* 			height: 200px; */
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 300px solid #816954;
    position: absolute;
    left: 50%;
    
    transform-origin: 50% 300px;
    top: 50px;
    margin-left: -8px;
}


.branch {
    position: absolute;
    width: 150px;
    height: 40px;
    border-bottom: 5px solid #816954;			
}
.branch:before, .branch:after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    border:inherit;
    border-radius: inherit;
    z-index: 0;
}
.branch:before {
    transform: rotate(1deg);
}
.branch:after {
    transform: rotate(2deg);
}
.branch.left, .branch.left:before, .branch.left:after {
    transform-origin: 0px 0px;
}
.branch.right, .branch.right:before, .branch.right:after {
    transform-origin: 100% 0px;
}
.branch.left {
    border-bottom-left-radius: 100% 100%;
    transform-origin: 100% 100%;
}
.branch.right {
    border-bottom-right-radius: 100% 100%;
    transform-origin: 0% 100%;
    margin-left: 1px;
}

.tree>.branch.left {
    transform:rotate(5deg);
}
.tree>.branch.right {
    transform:rotate(-5deg);
}
.leaf { 
    position: absolute;
    width: 23px;
    height: 23px;
    background: #C5EABE; 
    border-radius: 0px 100%;
    z-index: 1;
    transform-origin: 0px 0px;
    
}
.leaf:before {
/*    content:"";*/
    position: absolute;
    width:2px;
    height: 2px;
    background: #f55;
}
.flower {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 2;
}
.flower:after {
    position: absolute;
    content: "";
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background: #e55;
    border-radius: 50%;
    width: 30%;
    height: 30%;
    margin: auto;
}
.flower .petal {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: rotate(72deg);
}
.flower .petal::before, .flower .petal::after {
    content: "";
    position: absolute;
    width: 60%;
    height: 60%;
    background: #F0A5A6;
    border-radius: 0px 100px;
    top: 50%;
    left: 50%;
    margin-left: -20%;
    margin-top: -20%;
    transform-origin: 33% 33%;
}
.flower .petal::after {
    transform: rotate(36deg)
}

.flower.petal5 .petal {
    transform: rotate(144deg);
}
.flower.petal5 .petal::after {
    transform: rotate(-72deg);   
}
.flower.petal5>.petal::after {
    content:none;
}
.flower.petal6 .petal{
    transform: rotate(120deg);
}
.flower.petal6 .petal::after {
    transform: rotate(60deg);   
}
.flower.petal8 .petal{
    transform: rotate(90deg);
}
.flower.petal8 .petal::after {
    transform: rotate(45deg);   
    width: 56%;
    height: 56%;
}


.flower.roundpetal .petal:before, .flower.roundpetal .petal:after{
    width: 30%;
    border-radius: 0px;
    margin-left: -15%;
    margin-top: 0%;
    top: 0%;
    height: 50%;
    border-radius: 50% 50% 0px 0px;
    transform-origin: 50% 100%;
}
.heart {
    position:absolute;
    width: 50px;
    height: 50px;
    z-index: 2;
}
.heart:before, .heart:after {
    position: absolute;
    content: "";
    width:80%;
    height: 80%;
    border-radius: 100% 0%;
    background: #F0A5A6;
    left: 50%;
    top: 20%;
    transform-origin: 0% 100%;
}
.heart:before {
    transform: rotate(-65deg);
}
.heart:after {
    transform: rotate(-25deg);
}



.tulip {
    position:absolute;
    width: 50px;
    height: 50px;
    z-index: 2;
    transform-origin: 50% 100%;
}
.tulip:before, .tulip:after, .tulip .peak {
    position: absolute;
    content: "";
    width:80%;
    height: 80%;
    border-radius: 100% 0%;
    background: #F0A5A6;
    left: 50%;
    top: 20%;
    transform-origin: 0% 100%;
}
.tulip:before {
    transform: rotate(-70deg);
}
.tulip:after {
    transform: rotate(-20deg);
}
.tulip .peak {
    transform: rotate(-45deg);
}


.redflower:before, .redflower:after, .redflower .peak , .redflower .petal:before, .redflower .petal:after {
    background: #F0A5A6;
}

.greenflower:before, .greenflower:after, .greenflower .peak , .greenflower .petal:before, .greenflower .petal:after {
    background: #D5E4B6;
}
.blueflower:before, .blueflower:after, .blueflower .peak , .blueflower .petal:before, .blueflower .petal:after {
    background: #A7D3ED;
}
.yellowflower:before, .yellowflower:after, .yellowflower .peak , .yellowflower .petal:before, .yellowflower .petal:after {
    background: #FEDFBC;
}
.purpleflower:before, .purpleflower:after, .purpleflower .peak , .purpleflower .petal:before, .purpleflower .petal:after {
    background: #F0CCFE;
}

.flower:after {
    background: #f5f5f5;
}


.branch .branch:after {
    content:none;
}


.tree>.leaf1 {
    width: 15px;
    height: 15px;
    transform: rotate(-150deg);
}

.tree>.leaf2 {
width: 15px;
    height: 15px;
    transform: rotate(-100deg);
}


.branch1 {
    top: 190px;
    right: 0;
    
}
.branch1 .branch-inner1 {
    width: 60px;
    height: 40px;
    transform: rotate(35deg);
    border-bottom-left-radius: 100% 70%;
    left: 50px;
    top: 0px;
    border-width: 5px;	
}
.branch1 .branch-inner2 {
    width: 50px;
    height: 20px;
    transform: rotate(-40deg);
    border-bottom-left-radius: 100% 70%;
    left: 26px;
    top: 13px;
    border-width: 4px;	
}
.branch1 .branch-inner3 {
    width: 20px;
    height: 10px;
    transform: rotate(40deg);
    border-bottom-left-radius: 100% 70%;
    left: 16px;
    top: 15px;
    border-width: 3px;	
}
.branch1 .branch-inner1 .leaf1 {
    transform: rotate(-150deg);
    top: 38px;
    left: 40px;
}
.branch1 .branch-inner1 .leaf2 {
    width: 17px;height: 17px;
    transform: rotate(110deg);
    top: 38px;
    left: 20px;
}
.branch1 .branch-inner1 .leaf3 {
    width: 17px;height: 17px;
    transform: rotate(-150deg);
    top: 30px;
    left: 14px;
}
.branch1 .branch-inner2 .leaf1 {
    transform: rotate(80deg);
    left: 40px;
    top: 24px;
}
.branch1 .branch-inner2 .leaf2 {
    width: 20px;height: 20px;
    transform: rotate(-160deg);
    left: 30px;
    top: 20px;
}
.branch1 .branch-inner2 .leaf3 {
    width: 17px;height: 17px;
    transform: rotate(100deg);
    left: 10px;
    top: 18px;
}
.branch1 .branch-inner3 .leaf1 {
    width: 15px;height: 15px;
    transform: rotate(-150deg);
    left: 18px;
    top: 10px;
}
.branch1 .branch-inner3 .leaf2 {
    width: 15px; height: 15px;
    transform: rotate(130deg);
    left: 9px;
    top: 12px;
}

.branch1>.flower1 {
    right: 100%;
    bottom: 100%;
    width: 30px;
    height: 30px;
    margin-right: -15px;
    margin-bottom: -15px;
}
.branch1 .branch-inner1 .flower1 {
    width: 18px;
    height: 18px;
    
    top: 5px;
    left: -12px;
    transform: rotate(-25deg);
}
.branch1 .branch-inner2 .flower1 {
    width: 20px;
    height: 20px;
    
    top: -25%;
    left: 0%;
    transform: rotate(-55deg);
}


.branch2 {
    height: 60px;
    top: 130px;
    left: 0;
}


.branch2 .branch-inner1 {
    width: 60px;
    height: 70px;
    transform: rotate(90deg);
    border-bottom-left-radius: 100% 70%;
    left: -26px;
    top: -13px;
    border-width: 5px;	
}
.branch2 .branch-inner2 {
    width: 60px;
    height: 80px;
    transform: rotate(60deg);
    border-bottom-right-radius: 100% 70%;
    left: 55px;
    top: -26px;
    border-width: 4px;	
}
.branch2 .branch-inner3 {
    width: 40px;
    height: 30px;
    transform: rotate(30deg);
    border-bottom-right-radius: 100% 100%;
    left: 110px;
    top: 10px;
    border-width: 3px;	
}
.branch2 .branch-inner4 {
    width: 20px;
    height: 15px;
    transform: rotate(180deg);
    border-bottom-left-radius: 100% 100%;
    left: 0px;
    top: 8px;
    border-width: 2px;	
}


.branch2 .branch-inner1 .leaf1 {
    transform: rotate(120deg);
    top: 74px;
    left: 40px;
}
.branch2 .branch-inner1 .leaf2 {
    transform: rotate(220deg);
    top: 63px;
    left: 30px;
    width: 20px;
    height: 20px;
}
.branch2 .branch-inner1 .leaf3 {
    transform: rotate(150deg);
    top: 60px;
    left: 14px;
    width: 17px;
    height: 17px;
}



.branch2 .branch-inner2 .leaf1 {
    transform: rotate(-20deg);
    top: 84px;
    left: 10px;
}
.branch2 .branch-inner2 .leaf2 {
    transform: rotate(-120deg);
    top: 73px;
    left: 25px;
    width: 20px;
    height: 20px;
}
.branch2 .branch-inner2 .leaf3 {
    transform: rotate(-40deg);
    top: 65px;
    left: 44px;
    width: 17px;
    height: 17px;
}



.branch2 .branch-inner3>.leaf1 {
    transform: rotate(0deg);
    top: 32px;
    left: 10px;
    width: 20px;
    height: 20px;
}
.branch2 .branch-inner3 .leaf2 {
    transform: rotate(-120deg);
    top: 25px;
    left: 20px;
    width: 20px;
    height: 20px;
}
.branch2 .branch-inner3 .leaf3 {
    transform: rotate(-50deg);
    top: 14px;
    left: 37px;
    width: 17px;
    height: 17px;
}
.branch2 .branch-inner4>.leaf1 {
    transform: rotate(150deg);
    top: 14px;
    left: 6px;
    width: 14px;
    height: 14px;
}
.branch2>.flower1 {
    width: 25px;
    height: 25px;
    right: -12px;
    top: -8px;
}
.branch2 .branch-inner1 .flower1 {
    width: 25px;
    height: 25px;
    left: -10px;
    top: 25px;
}
.branch2 .branch-inner2 .flower1 {
     transform: rotate(10deg);
    width: 20px;
    height: 20px;
    right: -5px;
    bottom: 30px;
}
.branch2 .branch-inner4 .flower1 {
    width: 20px;
    height: 20px;
    left: -10px;
    top: -10px;
}
.branch2 .branch-inner3>.flower1 {
    transform: rotate(10deg);
    width: 15px;
    height: 15px;
    right: -5px;
    top: -5px;
}

.branch3 {
    top: 70px;
    right: 0;
    width: 160px;
    height: 70px;
}
.branch3 .branch-inner1 {
    width: 60px;
    height: 40px;
    transform: rotate(-80deg);
    border-bottom-right-radius: 100% 100%;
    left: 70px;
    top: 15px;
    border-width: 4px;	
}
.branch3 .branch-inner2 {
    width: 60px;
    height: 60px;
    transform: rotate(-40deg);
    border-bottom-left-radius: 100% 70%;
    left: 36px;
    top: 5px;
    border-width: 4px;	
}




.branch3 .branch-inner1 .leaf1 {
    transform: rotate(-30deg);
    top: 44px;
    left: 15px;
}
.branch3 .branch-inner1 .leaf2 {
    width: 17px;height: 17px;
    transform: rotate(-95deg);
    top: 35px;
    left: 23px;
}
.branch3 .branch-inner1 .leaf3 {
    width: 17px;height: 17px;
    transform: rotate(-50deg);
    top: 32px;
    left: 44px;
}
.branch3 .branch-inner2 .leaf1 {
    transform: rotate(80deg);
    left: 50px;
    top: 64px;
}
.branch3 .branch-inner2 .leaf2 {
    width: 20px;height: 20px;
    transform: rotate(-160deg);
    left: 35px;
    top: 56px;
}
.branch3 .branch-inner2 .leaf3 {
    width: 17px;height: 17px;
    transform: rotate(100deg);
    left: 16px;
    top: 50px;
}
.branch3>.leaf1 {
    right: 20px;
    transform: rotate(200deg);
    bottom: -17px;
    width: 18px;
    height: 18px;
}
.branch3>.leaf2 {
    right: 110px;
    transform: rotate(220deg);
    bottom: 10px;
    width: 18px;
    height: 18px;
}

.branch3 .flower.petal5 {
    right: 100%;
    bottom: 100%;
    width: 30px;
    height: 30px;
    margin-right: -15px;
    margin-bottom: -15px;
}
.branch3 .branch-inner1 .heart {
    width: 18px;
    height: 18px;
    
    top: 0px;
    left: 50px;
    transform: rotate(35deg);
}
.branch3 .branch-inner2 .tulip {
    width: 20px;
    height: 20px;
    
    top: 20px;
    left: 0px;
    transform: rotate(-25deg);
}

.branch4 {
    width: 120px;
    height: 40px;
    top: 50px;
    left: 0;
}

.branch4 .branch-inner1 {
    width: 50px;
    height: 60px;
    transform: rotate(90deg);
    border-bottom-left-radius: 100% 70%;
    left: -26px;
    top: -25px;
    border-width: 5px;	
}
.branch4 .branch-inner2 {
    width: 50px;
    height: 70px;
    transform: rotate(60deg);
    border-bottom-right-radius: 100% 70%;
    left: 55px;
    top: -36px;
    border-width: 4px;	
}



.branch4 .branch-inner1 .leaf1 {
    transform: rotate(120deg);
    top: 65px;
    left: 42px;
}
.branch4 .branch-inner1 .leaf2 {
    transform: rotate(220deg);
    top: 57px;
    left: 30px;
    width: 20px;
    height: 20px;
}
.branch4 .branch-inner1 .leaf3 {
    transform: rotate(150deg);
    top: 54px;
    left: 14px;
    width: 17px;
    height: 17px;
}



.branch4 .branch-inner2 .leaf1 {
    transform: rotate(-20deg);
    top: 74px;
    left: 10px;
}
.branch4 .branch-inner2 .leaf2 {
    transform: rotate(-120deg);
    top: 65px;
    left: 20px;
    width: 20px;
    height: 20px;
}
.branch4 .branch-inner2 .leaf3 {
    transform: rotate(-40deg);
    top: 60px;
    left: 35px;
    width: 17px;
    height: 17px;
}


.branch4>.flower1 {
    width: 25px;
    height: 25px;
    right: -12px;
    top: -8px;
}
.branch4 .branch-inner1 .flower1  {
    width: 25px;
    height: 25px;
    left: -13px;
    top: 15px;
}
.branch4 .tulip1 {
     transform: rotate(10deg);
    width: 20px;
    height: 20px;
    right: -8px;
    bottom: 30px;
}

.branch5 {
    top: 20px;
    right: 0;
    width: 90px;
    height: 30px;
}

.branch5 .branch-inner1 {
    width: 30px;
    height: 30px;
    border-bottom-right-radius: 100% 100%;
    left: 50px;
    top: -5px;
    border-width: 4px;	
    transform: rotate(-60deg);
}
.branch5 .branch-inner2 {
    width: 40px;
    height: 40px;
    transform: rotate(-50deg);
    border-bottom-left-radius: 100% 80%;
    left: 26px;
    top: -10px;
    border-width: 4px;	
}


.branch5 .branch-inner1 .leaf1 {
    transform: rotate(-20deg);
    
    left: 20%;
    bottom: -70%;
    width: 18px;
    height: 18px;
}
.branch5 .branch-inner1 .leaf2 {
    width: 16px;height: 16px;
    transform: rotate(-120deg);
    top: 85%;
    left: 40%;
}
.branch5 .branch-inner1 .leaf3 {
    width: 14px;height: 14px;
    transform: rotate(-50deg);
    top: 65%;
    left: 80%;
}

.branch5 .branch-inner2 .leaf1 {
    transform: rotate(80deg);
    left: 70%;
    top: 110%;
    width: 18px;
    height: 18px;
}
.branch5 .branch-inner2 .leaf2 {
    width: 16px;height: 16px;
    transform: rotate(-140deg);
    left: 43%;
    top: 85%;
}
.branch5 .branch-inner2 .leaf3 {
    width: 14px;height: 14px;
    transform: rotate(100deg);
    left: 20%;
    top: 75%;
}

.branch5 .flower.petal5 {
    right: 100%;
    bottom: 100%;
    width: 30px;
    height: 30px;
    margin-right: -15px;
    margin-bottom: -15px;
}
.branch5 .branch-inner1 .heart {
    width: 18px;
    height: 18px;
    
    top: -20%;
    left:80%;
    transform: rotate(35deg);
}
.branch5 .branch-inner2 .tulip {
    width: 20px;
    height: 20px;
    
    top: 5px;
    left: -5px;
    transform: rotate(-15deg);
}


.page-frame {
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
hr.rounded {
    border-top: 1px solid #bbb;
    border-radius: 1px;
}
.font-class {
    font-family: sans-serif;
}
.top-bar {
    position: fixed;
    min-width: 100%;
    height: 50px;
    left: 0px;
    top: 0px;
    margin-left: 0px;
    padding-left: 0px;
    padding-top: 0px;
    background: white;
}
.top-buttons {
    position: absolute;
    width: 500px;
    height: 50px;
    right: 0%;
    top: 0px;
    padding-left: 0px;
    padding-top: 0px;
    background: none;
    display: flex;
    flex-direction: row-reverse;
}
.top-logo {
    position: absolute;
    width: 500px;
    height: 50px;
    left: 0%;
    top: 0px;
    padding-left: 10px;
    padding-top: 0px;
    background: none;
    display: flex;
    flex-direction: row;
}
.logo-font {
    font-family: sans-serif;
    color: var(--logoGreen);
    font-size: 18px;
    margin-left: 10px;
}
.lifeverse {
    width: 30%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
    height: 100%;
    background: none;
    position: relative;
    right: 0px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 10px;
    border: none;
}
.lifebase {
    width: 30%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
    height: 100%;
    background: none;
    position: relative;
    right: 0px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 10px;
    border: none;
}
.lifeboard {
    width: 32%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
    height: 100%;
    background: none;
    position: relative;
    right: 0px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 10px;
    border: none;
}
.request-link {
    width: 100%;
    font-family: sans-serif;
    font-size: 16px;
    color: black;
    text-decoration: none;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.request-all {
    text-align: start;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 20px;
}
.user-title {
    font-family: sans-serif;
    font-size: 20px;
    color: black;
    margin-left: 20px;
    margin-top: 10px;
}
.home-logout {
    position: absolute;
    right: 10px;
    top: 10px;
    background: none;
    border: none;
    font-family: sans-serif;
    font-size: 16px;
    margin: 20px;
    color: black;
}
.individual-button {
    background: none;
    border: none;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 600;
    margin: 20px;
    color: var(--fontGrey);
}
.welcoming {
    font-family: sans-serif;
    font-size: 16px;
    margin: 20px;
    color: black;
}
.scroll-div {
    margin-top: 500px;
    left: 0%;
    margin-left: 0;
    position: relative;
    height: fit-content;
    width: 100%;
    display:flex; 
    flex-direction: row; 
    background: red;
}
.intro-div {
    margin-top: 50px;
    height: fit-content;
    width: 100%;
    position: relative;
}
.intro-bg {
    height: fit-content;
    width: 100%;
    padding-left: 0px;
    padding-top: 0px;
}
.intro-txt {
    width: 40%;
    height: fit-content;
    left: 10%;
    top: 200px;
    position: absolute;
}
.intro-txt-title {
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 35px;
}
.intro-txt-subtitle {
    color: white;
    font-family: sans-serif;
    font-weight: 200;
    font-size: 15px;
}
.intro-login {
    font-size: 15px;
    background: #F4EFBA;
    color: black;
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 40px;
    cursor: pointer;
}
.category-div {
    width: 100%;
    height: 400px;
    position: relative;
}
.section-title {
    padding-top: 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    position: relative;
    height: fit-content;
}
.category-all-btn {
    padding-top: 20px;
    position: absolute;
    right: 150px;
    top: 0px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    height: fit-content;
}
.category-icon {
    color: black;
    font-size: 10px;
    margin-right: 5px;
    padding-top: 2px;
}
.category-txt {
    font-size: 14px;
    line-height: 25px;
}
.category-three {
    margin-top: 20px;
    height: 500px;
    width: 80%;
    padding-top: 0%;
    margin-left: 10%;
    position: absolute;
}
.category-block-left {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    position: absolute;
    top: 0%;
    padding-top: 0%;
    margin-top: 0%;
    left: 10%;
    background-image: url("https://s3-alpha-sig.figma.com/img/b896/22e4/d9f86533ffc0ca4f8857e3e4e42b8895?Expires=1683504000&Signature=GJ8e4NP8dkIFNWs3WcxfmIZqUIqfrlLukoq4bOYRFmfN3-Fsoxo2bxuFRlXNvFdsjRvEM6JApxxx4gzKpucnqiCTlGjC1DmZAcRp-TjB2WYk~eEyDQCfUNwdfr4Ka2icWAAYv1oMx7s3OjM5-nvu1fkjmg7LWpNuVjIDyESHScVmTCCEQY2h-v-G5D1IGjARFt78exJiMOH-6sveydAE3n3tznOwthi6lwinghvKl5P-WMynLIjpXzGahZj1PvG7yngMqhiguyz9HFaxNB6vNGZUSHQMyUZ-RG42uNlSMgxp00cvdbzHtRDvn~pVVCc4dnqEnFbcqc8eGNWgqaGQ3A__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    background-position: center;
    background-size: cover;
    filter: brightness(80%);
    border: none;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    cursor: pointer;
}
.category-block-middle {
    width: 300px;
    height: 300px;
    border-radius: 5px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    background-image: url("https://s3-alpha-sig.figma.com/img/9fdc/1d02/818c26b59f7f84c4bb9f4208de0ca9f7?Expires=1683504000&Signature=IY3rhuffPU~OfDzkazzGX0oiC7nt0zia9GJLB-7CAVpzDcVoR2ft-0Cc7bAdXUvKelWnSEFNr-p7HszACczOcfP8HgdX8WVSYN6Llhc8ncqfWBUML0tPc8~ld~eT~38o9I2roaJxEWWkX3RwVtx8HCu0oDnTef8mbKWoSr7Jh-h18r50VNllpuAdHq6A5pdSntM8WTiTDLJyP5JZsfBi-a9iR9QwLb2R3QVfpOWHxnkq-QihL6BMApOToXbTyslXJ5ufoFU5jtXq6Fscpfd7BmJcCmd8IkS8SgaFkKGkxj9HzwzL4UnsFbNmEw9KGGl7ZLz1T3kJ-I~ljSQmYX~3wg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    background-position: center;
    background-size: cover;
    filter: brightness(80%);
    border: none;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    cursor: pointer;
}
.category-block-right {
    width: 300px;
    height: 300px;
    background: black;
    border-radius: 5px;
    position: absolute;
    right: 10%;
    background-image: url("https://s3-alpha-sig.figma.com/img/2fd9/157f/d9e02e88e1440fc39c817ec4bf03151c?Expires=1683504000&Signature=DmSFwhHmwEpe5ltdB6wBEkrZQm4LkgB6BbB7ezAogM4FGwJqsQZtjIEdDHdibcWyrCAY4kn59KayiBc1~NXFPNkrV63kE8tPuV9COntX5XUa0HJjTMlPocTs3jk9ETAXxQhBhPolvn3WgnI9Hj9YUqjfstZhHPU3ccYaWqs083PReJhbsxGVsYxQK6j5ZYqcFMPlR~6pE8m90U4p9VMJlDrHeyZ~3SrOgB6ga2r6EapKJBzQJMVy1wvN6ZWdbva6rAXFO5eoRJR2exUQsqvXjNgXsj0MJOGhgbMc0GT-RWTNJan3iRXoxIQY0TljvPCSvFQIwKSNPxy0XmVMTn2NPA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    background-position: center;
    background-size: cover;
    filter: brightness(80%);
    border: none;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    cursor: pointer;
}
.community-div {
    width: 100%;
    height: 600px;
    position: relative;
}
.community-split {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    height: 500px;
    width: 80%;
    padding-top: 0%;
    margin-left: 10%;
    position: absolute;
}
.community-intro {
    width: 50%;
    height: 100%;
}
.community-img {
    height: fit-content;
    width: 70%;
    margin-left: 15%;
    margin-top: 20px;
}
.community-txt {
    margin-top: 30px;
    margin-left: 15%;
    width: 70%;
    color: black;
    font-family: sans-serif;
    font-size: 14px;
}
.transaction-update {
    width: 50%;
    height: 100%;
    border-radius: 5px;
    background: #8FC7AB;
    display: flex;
    flex-direction: column;
}
.transaction-block-0 {
    height: 70px;
    width: 80%;
    margin-left: 10%;
    margin-top: 35px;
    background: white;
    border-radius: 5px;
}
.transaction-block {
    height: 70px;
    width: 80%;
    margin-left: 10%;
    margin-top: 20px;
    background: white;
    border-radius: 5px;
}
.transaction-time {
    color: var(--fontGrey);
    font-size: 10px;
    font-family: sans-serif;
    font-weight: 200;
    position: absolute;
    margin-top: 5px;
    margin-left: 5px;
}
.transaction-txt {
    color: black;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 200;
    position: absolute;
    margin-top: 30px;
    margin-left: 20px;
}
.item-div {
    width: 100%;
    height: 600px;
    position: relative;
}
.item-block-div {
    margin-top: 20px;
    height: 500px;
    width: 80%;
    padding-top: 0%;
    margin-left: 10%;
    position: absolute;
}
.item-four {
    display: flex;
    flex-direction: row;
}
.item-block-0 {
    width: 24.25%;
    height: 430px;
    border-radius: 5px;
    background: white;
    box-shadow: 0px 11px 20px 0px rgba(5, 16, 55, 0.1);
}
.item-block {
    width: 24.25%;
    margin-left: 1%;
    height: 430px;
    border-radius: 5px;
    background: white;
    box-shadow: 0px 11px 20px 0px rgba(5, 16, 55, 0.1);
}
.item-login-btn {
    width: 100%;
    margin-top: 20px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: #8FC7AB;
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
}
.item-owner-txt {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: black;
    line-height: 0%;
}
.item-owner-div {
    height: fit-content;
    width: 80%;
    padding-top: 30px;
    padding-left: 20px;
}
.item-time-txt {
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 200;
    color: var(--fontGrey);
    line-height: 0%;
}
.item-img {
    background-image: url(https://s3-alpha-sig.figma.com/img/49b0/45db/14976f3bc7f4449a9aacfbd92b5ac1ee?Expires=1683504000&Signature=VeNPpuYj~cC46dNXN8fI-Mlhc13kI6zUWqs5kOr9epPUNKrDIW3f9AEC0EUudnncenSI1~xPwQRP4BKOhqxPFk2Jh43yIdopVIFidk875oO0YjBHqOyAP8EHZgZge8SWM4H6H8SpIVmkagQ4VCuDg5IcW8yuWrufojmw4xASkqF1RR6sgRvcO1sooyBoK5cNvKVBHD9T8FpPPCHjseYLB0j17ciXnkX22PDLVT0khTNZNljK8U2W7o~KMYob7MAIM~koy4AeuxzGSXLOFfoDCoD5t0X9O0wyBUsZGtfLf89L9oIpXU273NW6SnA-IyNMdyBvZpqhvuPTiXS-4fIAMg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4);
    background-size: cover;
    background-position: center;
    height: 240px;
    width: 240px;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 5px;
}
.item-info-div {
    height: 80px;
    width: 80%;
    margin-left: 20px;
}
.item-title-txt {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: var(--fontGrey);
    line-height: 0%;
}
.item-price-txt {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
    line-height: 0%;
    padding-top: 5px;
}
.item-condition-txt {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 200;
    color: rgba(0, 0, 0, 0.5);
    line-height: 0%;
    padding-top: 5px;
}
.tutorial-div {
    width: 100%;
    height: 1550px;
    position: relative;
}
.tutorial-steps-div {
    margin-left: 10%;
    width: 80%;
    height: 1450px;
}
.tutorial-step-block {
    height: 230px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.tutorial-img-1 {
    width: 50%;
    background-image: url("https://s3-alpha-sig.figma.com/img/c1e4/de98/ce8658218b4469e798b3427e651485ad?Expires=1683504000&Signature=IgEjz7qIl9B6algUoynyZsWoLqnqr2G6oWJrTIPEVU6XtOVKIkKw1hGLEefXjs4BTpV6GTHJC8cEr3HZXXt~qkzZKFU81iqLKmpnR35rmfEXw3E5deomDPDKlUC6KR-LXdRIoJ6hYDKHONwCNzTVV~npNtHYM~-Pc0OL5bZwN5AUJK4YFzlyZC2w6PLhlxFrbf7hfSkU9ug3sSXDKLdNDXRjQH7qmgI9qxOwx52INFzwgQAPaRBobSHEnFR1vG-YD79IfAiORowCmcGlthZVaud7rcZTOHkbwq5~BENkeMucNyK4oMdqflhb1hROo4hXuIrJHSIoW-H9YQJGJQ~rtw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0px 11px 20px 0px rgba(5, 16, 55, 0.1);
}
.tutorial-img-2 {
    width: 50%;
    background-image: url("https://s3-alpha-sig.figma.com/img/ea1b/4a34/cae93dfd667b50ea66ffdbf6198d1639?Expires=1683504000&Signature=MOCdlrdL5wamb-bBCAuZXqF7bmtM68-0P6hNx9uy4v0poiUspM2U1pGxKvpWn08ur2iqkyynYyuLkf~LDs0Hcako~vGJcMAmwSp-0iTSRwb6dv9y4DU2uhMbVAYBJLMyQe5Y8Rt4uhiC6h4fMGHO18MOJoBXjUfW-I4~0-3tSdNDjtq3g62g5daooYbt0grpIyVXjpn6lST6Y0lCvQymB5aPtewqL-iUxseWiEOgRL0lsEEMKQC2ITTgKBo-k5CUFV~pz47IXFV3UJB3xhvh7oWw5fmpUCHU10zXOKpcRfFn2h2fDxp6Sh7wQUeLLx1ZIYLnO5o0JN3lh1ZUwcWvQA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0px 11px 20px 0px rgba(5, 16, 55, 0.1);
}
.tutorial-img-3 {
    width: 50%;
    background-image: url("https://s3-alpha-sig.figma.com/img/6c10/0be4/878b8d943dc8519ed7fc97e57443ba60?Expires=1683504000&Signature=KKHAkOng0qcv4IksJdv~~g~yLusQoFEAq9o1smrt2zyVczKXjJUCF3DgxeXPtNRzUdZ~1ulb5jz3Ft9HIjYx6f~cwvYJ19FqWqybnsFeKEFKePFcIMCop8~B0n2T7Zey8moDEFUaorlMpW0yZXu8vT5HarjF2VpkV24TxPxrTX7jhSQE2ew85GkApQn2t5UmxaPTrh0XpR8UhmSSipZnDgozIRgj13NjR2rEgNykqc9aQinKWp~CagLw05y9YmvQNjWwOp49dJ77lLCh8OJJdbRaa3yqrkXAmZi1vFsI2w7JNWGZV7zl5FsCGigqIkISjFXpFTFf-rKF6ss19JQSxg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0px 11px 20px 0px rgba(5, 16, 55, 0.1);
}
.tutorial-img-4 {
    width: 50%;
    background-image: url("https://s3-alpha-sig.figma.com/img/8127/00db/5bf602dc52c8d26d5f9723e9616d742a?Expires=1683504000&Signature=PUmjXgQ6uRsd5pZ92lbTkRtK1DXwTujQJFBPbAAC~K9IWurRrBuqhs7YaUa6LvjOCJA~JxQhTNK~sLRueh-f07NDW7mdid~Rzv5Q0bMbMPZfR7G0JqXTgCrVPtlHQ9oA55BQb7wPQ-ryFAee8ZPZbLNL8rNnvd5Kfov5tIgSUUsE~IDbxekS2t80LIElEe1Dw-08WYhWhTKXLEQIrHFOcpmyKIJKdJt-djG3V9TYQFtr9xUUiGh-6TSTXvRBvM2NPkfM-tPrSCMHSRyWjc2HzzeBrpYLmPDpHttqEHl00YAVgEZOmyagXM0DnefC61SJIGkihuH4X3HvTUuQJ36Jxw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0px 11px 20px 0px rgba(5, 16, 55, 0.1);
}
.tutorial-img-5 {
    width: 50%;
    background-image: url("https://s3-alpha-sig.figma.com/img/8498/18c6/2cf968eb1e9395428f4d46379485100b?Expires=1683504000&Signature=aBlzhCVUPLe16~bZ7~srIjqfUoOrjei3mHqXVbPaJk1Wd2kGq20cdmd~4GEYsXY9djJu5x0f8qJmbEGYOdzPsmaQUH2IeQaxbMRcThWH4Cp~y1uFH5t5TYyZSAlNOm5E4wHz2ggKBI-28z1gEar8BM3gn-sVCmsoRFyFPb0KHqpzpf7RB5YxRWJ8wgucgCQy1oHcPncNfgM7nBtrU1f9W0L~CgNKHi12cg-CVYxdHJsA9TAI52ttJxkWQaRAcevLiZRvPODBE5-zmrppKxB0335maLEZ5b1I~~nHiukufSXAfKmX3PyScEOK0SFdYtcCjnkgw2efPG2oooQV9XMpbw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0px 11px 20px 0px rgba(5, 16, 55, 0.1);
}
.tutorial-img-6 {
    width: 50%;
    background-image: url("https://s3-alpha-sig.figma.com/img/ed5f/d869/29725311252bccbb689685cb3f05c532?Expires=1683504000&Signature=IFQ3hl8PgtOU3oyYVTlrdwJpeO7m4tjVQ3yIsBvF5cMzZPrwfS3Rlga68L2uXW9DySVEwfU873kxlgexLx7NjlVhno2spKVs4ZmxwF4FfCKq~VLig~MzEoSufqmWVSSEZ7w7D4Kacf678DYgHNziQbHKVz18On~XgXjBOMVlqvjbeTuGRcUiDTT8Wnd9vSUhp3yzpHwVZtNrAm1WFSqAIL6yNe97hAfHl7gmIIolwW8lzaVn1nIttfJPv0lJy9lWVHGX7WTSBUAbZ9GyV7Ly1NCo2sXQ1xQLgQzrU9D7P~5ZL4r8jEYEv2bOGiaixn86lgCW5aDPEgNp5sv-AwWFWA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4");
    background-position: center;
    background-size: cover;
    border-radius: 5px;
    box-shadow: 0px 11px 20px 0px rgba(5, 16, 55, 0.1);
}
.tutorial-txt-div {
    width: 50%;
    padding-top: 50px;
}
.tutorial-title-txt {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px;
    margin-right: 20px;
}
.tutorial-content-txt {
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 200;
    margin-left: 20px;
    margin-right: 20px;
}
.txt-right {
    text-align: right;
}
.search-div {
    width: 100%;
    height: 30px;
    position: relative;
    left: 2%;
    margin-top: 10px;
}
.filter-div {
    width: 100%;
    height: 30px;
    position: relative;
    left: 1%;
    margin-top: 10px;
    background: none;
    display: flex;
    flex-direction: row;
}
.search {
    width: 96%;
    height: 30px;
    font-family: sans-serif;
    color: var(--mainGrey1);
    background: white;
    padding-left: 50px;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 20px;
    overflow: hidden;
    border: none;
}
.lable-txt {
    color: var(--mainGreen1);
    font-family: sans-serif;
    font-size: 14px;
}

.button-option {
    height: 30px;
    width: 180px;
    background: white;
    text-align: center;
    border-radius: 20px;
    padding-left: 10px;
    margin-left: 10px;
    border: none;
    font-family: sans-serif;
    cursor: pointer;
    border-right: 10px solid transparent
}
.table-div {
    background: none;
    position: relative;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    display: table-cell;
    background: gray;
}
.display-table {
    display: table;
    position: relative;
    border-spacing:10px;
    display: grid;
    grid-template-columns: 340px 340px 340px;
    column-gap: 10px;
    row-gap: 0px;
    background: none;
    width: fit-content;
}
.display-row {
    display: table-row;
    position: relative;
}
.on-sale-div {
    background: var(--mainGrey2);
    position: relative;
    border-radius: 10px 10px 0px 0px;
    height: fit-content;
    padding-top: 10px;
    display: table-cell;
}

.on-sale-block {
    display: table-cell;
    background: var(--mainGrey2);
    position: relative;
    width: 340px;
    height: 380px;
    border-radius: 10px;
    position: relative;
}
.display-image {
    width: 340px;
    height: 300px;
    position: relative;
    left: 0px;
    top: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    background-color: none;
    border-radius: 10px 10px 0px 0px;
}
.display-text {
    font-family: sans-serif;
    font-size: 14px;
    color: black;
    padding-left: 15px;
    width: 200px;
}
.right-align {
    font-family: sans-serif;
    font-size: 18px;
    color: orange;
    padding-left: 15px;
    text-align: right;
    width: 125px;
}
.account-style {
    position: relative;
    text-align: center;
    line-height: 40px;
    border: none;
    background: var(--mainGreen1);
    color: white;
    font-family: sans-serif;
    width: 370px;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
    margin-bottom: 10px;
}
.account-style:active {
    background: var(--mainGrey2);
    color: black;
}
:root {
    --mainGreen1: #274E45;
    --mainGreen2: #4B8173;
    --mainGreen3: #B1CFC9;
    --mainBlue1: #222E3C;
    --mainBlue2: #455D74;
    --mainOrgange: #F26542;
    --mainYellow: #FEE44C;
    
    --mainGrey1: #6C6A6A;
    --mainGrey2: #F2F2F2;

    --logoGreen: #73A8AC;
    --fontGrey: #373737;
}