<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/item.css">
    <link href="https://fonts.googleapis.com/css?family=Alatsi&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>

  <body>
    <form method="POST">
    <div class="page-frame">
        <div class="home-top">
            <div class="top-buttons-left">
                <button class="individual-button" type="submit" name="Home" value="Home">Home</button>
                <button class="individual-button" type="submit" name="Market" value="Market">Market</button>
                <button class="individual-button" type="submit" name="Demand" value="Demand">Demand</button>
                <button class="individual-button" type="submit" name="Piazza" value="Piazza">Piazza</button>
            </div>
            <div class="top-buttons">
                {% if userStatus == True %}
                <button class="individual-button" type="submit" name="Profile" value="Profile">Profile</button>
                {% else %}
                <button class="individual-button" type="submit" name="Login" value="Login">Login</button>
                <button class="individual-button" type="submit" name="Signup" value="Signup">Sign Up</button>
                {% endif %}
            </div>
        </div>

        <div class="scroll-div">
            <div class="info-pack">
                <div class="question-box">
                    <p class="welcoming"><span style="color: grey;">Requested item name: </span>{{requestInfo.requestTitle}}</p>
                    <p class="welcoming"><span style="color: grey;">Request category: </span>{{requestInfo.requestCate}}</p>
                    <p class="welcoming"><span style="color: grey;">Request description: </span>{{requestInfo.requestInfo}}</p>
                </div>   
                <div class="seller-info">
                    <p class="welcoming"><span style="color: grey;">Request by: </span>{{requestInfo.userName}}</p>
                    <p class="welcoming"><span style="color: grey;">Request time:</span> {{requestInfo.requestTime}}</p>
                </div>
            </div>

            <div class="display-table" id="display-table">
                {% for v in itemList %}
                <a href="/itemManager/{{v.itemID}}" style="text-decoration:none">
                    <div class="on-sale-block">
                        <img src={{v.itemImg}} width="340" class="display-image"/>
                        <p class="display-text">{{v.itemName}}</p>
                        <div style="display: flex; flex-direction: row;">
                            <p class="display-text">{{v.itemInfo}}</p>
                            <p class="right-align">HKD {{v.itemPrice}}</p>
                        </div>
                    </div>

                    {% if userStatus and identity == "owner" %}
                    <div style="display: flex; flex-direction: column;">
                        {% if requestInfo['requestSold'] != True %}
                        <button type="submit" class="create-style" name="deal" value="{{v.itemID}}">Deal</button>
                        <button type="submit" class="create-style" name="decline" value="{{v.itemID}}">Decline</button>
                        {% endif %}
                    </div>
                    {% endif%}
                </a>
                {% endfor %}
            </div>
            

            {% if userStatus and identity == "seller" and requestInfo['requestSold'] != True %}
            <button class="suggest-btn" type="submit" name="suggest" value="suggest">Suggest my item</button>
            <div style="display: flex; flex-direction: row;">
                <div class="suggest-pack">

                    {% for k, v in myItemList.items() %}             
                    <input class="checkbox-tools" type="radio" name="selectedItem" id="{{v.itemID}}" value="{{v.itemID}}">
                    <label class="for-checkbox-tools" for="{{v.itemID}}">
                        <p class="font-class">{{v.itemName}}</p>
                        <p class="font-class">{{v.itemPrice}}</p>
                        <p class="font-class">{{v.itemInfo}}</p>
                    </label>
                    {% endfor %}

                </div>
                <button class="suggest-post" type="submit" name="submit" value="Submit">Suggest</button>
            </div>

            {% endif%}

        </div>
    </div>
    </form>
    </body>
    <script>
        window.onscroll = function() {myFunction()};

        var header = document.getElementById("myHeader");
        var sticky = header.offsetTop;

        function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
        } else {
            header.classList.remove("sticky");
        }
        }
    </script>
</html>