<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/home.css">
    <link href="https://fonts.googleapis.com/css?family=Alatsi&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>

  <body>
    <div class="page-frame">
        <div class="home-top">
            <div class="top-buttons">
                <form method="POST">
                    <button class="individual-button" type="submit" name="Sell" value="Sell">Sell</button>
                    <button class="individual-button" type="submit" name="Request" value="Request">Request</button>
                    <button class="individual-button" type="submit" name="Login" value="Login">Log In</button>
                    <button class="individual-button" type="submit" name="Signup" value="Signup">Sign Up</button>
                </form>
            </div>
        </div>

        <div class="scroll-div">
            <div class="header" id="myHeader">
                <div class="search-div">
                    <input class="search" type="search" name="search-keyword" placeholder="Search now" required />
                    <i class="material-icons icon-search" style="font-size: 20px;">search</i>
                </div>

                <div class="filter-div">
                    <select class="button-option">
                        <option value="Donation" selected>Category</option>
                        <option value="Sale">Toy</option>
                        <option value="Sale">Stationary</option>
                        <option value="Sale">Clothes</option>
                    </select>
                    <select class="button-option">
                        <option value="Donation" selected>Price</option>
                        <option value="Sale">Less than 50</option>
                        <option value="Sale">Between 50 - 100</option>
                        <option value="Sale">Between 100 - 200</option>
                        <option value="Sale">More than 200</option>
                    </select>
                </div>
            </div>
            

            <div class="table-div">
                <div class="display-table">
                    {% for k, v in itemInfo.items() %}
                    <a href="item/{{v.itemID}}" style="text-decoration:none">
                        <div class="on-sale-block">
                            <img src={{v.itemImg}} width="340" class="display-image"/>
                            <p class="display-text">{{v.itemName}}</p>
                            <p class="display-text">{{v.itemInfo}}</p>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </body>
</html>