<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/item.css">
    <link href="https://fonts.googleapis.com/css?family=Alatsi&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>

  <body>
    <form method="POST">
    <div class="page-frame">
        <div class="home-top">
            <div class="top-buttons">
                    <button class="individual-button" type="submit" name="Chat" value="Chat">Chat</button>
                    <button class="individual-button" type="submit" name="Sell" value="Sell">Sell</button>
                    <button class="individual-button" type="submit" name="Request" value="Request">Request</button>
                    <button class="individual-button" type="submit" name="Home" value="Home">Home</button>
                    <button class="individual-button" type="submit" name="Login" value="Login">Log In</button>
                    <button class="individual-button" type="submit" name="Signup" value="Signup">Sign Up</button>
                
            </div>
        </div>

        <div class="scroll-div">
            <div class="item-image">
                <div>
                    <img src="{{item_image}}" height="400"/>
                </div>
                
                <div style="display: flex; flex-direction: column; width: fit-content; margin-left: 250px; margin-top: 150px;">
                    <button type="submit" name="Contact" value="Contact" class="create-style">Delete Item</button>
                    <button name="Reserve" value="Reserve" class="create-style">Edit Info</button>
                </div>
                
            </div>

            <div class="info-pack">
                <div class="question-box">
                    <p class="welcoming">{{item_name}}</p>
                    <p class="welcoming">{{item_category}}</p>
                    <p class="welcoming">{{item_price}}</p>
                    <p class="welcoming">{{item_description}}</p>
                </div>   
                <div class="seller-info">
                    <p class="welcoming">{{item_seller_name}}</p>
                    <p class="welcoming">{{item_pickup_info}}</p>
                </div>
            </div>
            
        </div>
    </div>
    </form>
    </body>
    <script>
        window.onscroll = function() {myFunction()};

        var header = document.getElementById("myHeader");
        var sticky = header.offsetTop;

        function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
        } else {
            header.classList.remove("sticky");
        }
        }
    </script>
</html>