<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/login.css">
    <link href="https://fonts.googleapis.com/css?family=Alatsi&display=swap" rel="stylesheet" />
  </head>

  <body>
    <div class="home-top">
      <div class="top-buttons">
          <form method="POST">
              <button class="individual-button" type="submit" name="Home" value="Home">Home</button>
              <button class="individual-button" type="submit" name="signup" value="signup">Sign Up</button>
          </form>
      </div>
    </div>
    <div class="page-frame-login">
      <div class="logo">
        <span class="logo-life">LIFE</span>
        <span class="logo-2">2</span>
      </div>
			
      <div class="login-div">
        <form method="POST">
          <input class="login-input1" type="text" name="usermail" placeholder="Email" required />
          <input class="login-input2" type="password" name="password" placeholder="Password" required />
          
          <button class="login-button" type="submit" name="submit-button" value="Submit">Login</button>
        </form>
      </div>
    </div>
  </body>
</html>