<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/profile.css">
    <link href="https://fonts.googleapis.com/css?family=Alatsi&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>

  <body>
    <form method="POST">
    <div class="page-frame">
        <div class="home-top">
            <div class="top-buttons">
                    <button class="individual-button" type="submit" name="Home" value="Home">Home</button>
                    <button class="individual-button" type="submit" name="Sell" value="Sell">Sell</button>
                    <button class="individual-button" type="submit" name="Request" value="Request">Request</button>
            </div>
        </div>

        <div class="section-bar">
            <input class="section-btn" type="submit" id="basic_info" name="section" value="Info">
            <input class="section-btn" type="submit" id="request_list" name="section" value="Request">
            <input class="section-btn" type="submit" id="item_list" name="section" value="Item">
        </div>

        {% if section == "Request" %}
        <div class="content">
            <p>Request</p>
            <hr class="rounded">
            {% for k, v in requestInfo.items() %}
            <a href="/request/{{v.requestID}}" class="request-link">
                <span style="color: blue; margin-right: 10px;">{{v.requestCate}}</span>
                {{v.requestTitle}}
                <span style="color: brown; margin-right: 10px; text-align: end; white-space: pre-line;">{{v.requestInfo}}</span>
                <span style="color: red; margin-right: 10px; text-align: end; white-space: pre-line;">{{v.requestTime}}</span>
                <span style="color: green; margin-right: 10px; text-align: end; white-space: pre-line;">{{v.userName}}</span>
            </a>
            <hr class="rounded">
            {% endfor %}
        </div>
        {% elif section == "Item" %}
        <div class="content">
            <p>Item</p>
            <div class="display-table">
                {% for k, v in itemInfo.items() %}
                <a href="itemManager/{{v.itemID}}" style="text-decoration:none">
                    <div class="on-sale-block">
                        <img src={{v.itemImg}} width="340" class="display-image"/>
                        <p class="display-text">{{v.itemName}}</p>
                        <p class="display-text">{{v.itemInfo}}</p>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <div class="content">
            <div class="inputs-div">
                <div class="lable-div">
                    <p class="user-style1">Username</p>
                    <p class="user-style2">University</p>
                    <p class="user-style2">User Email</p>
                </div>
                <div class="item-input-div">
                    <p class="user-style1">{{user.accountName}}</p>
                    <p class="user-style2">{{user.accountUni}}</p>
                    <p class="user-style2">{{user.accountEmail}}</p>        
                </div>
            </div>
            <button name="logout" value="logout" class="account-style">Log out</button>
        </div>
        {% endif %}
        
    </div>
    </form>
  </body>
</html>