<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/profile.css">
    <link href="https://fonts.googleapis.com/css?family=Alatsi&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>

  <body>
    <form method="POST">
    <div class="page-frame">
        <div class="home-top">
            <div class="top-buttons">
                    <button class="individual-button" type="submit" name="Home" value="Home">Home</button>
                    <button class="individual-button" type="submit" name="Sell" value="Sell">Sell</button>
                    <button class="individual-button" type="submit" name="Request" value="Request">Request</button>
            </div>
        </div>

        <div class="section-bar">
            <input class="section-btn" type="submit" id="basic_info" name="section" value="Info">
            <input class="section-btn" type="submit" id="request_list" name="section" value="Request">
            <input class="section-btn" type="submit" id="item_list" name="section" value="Item">
        </div>

        {% if section == "Request" %}
        <p>Request</p>
        {% else if section == "Item" %}
        <p>Item</p>
        {% else %}
        <div class="content">
            <div class="inputs-div">
                <div class="lable-div">
                    <p class="user-style1">Username</p>
                    <p class="user-style2">University</p>
                    <p class="user-style2">User Email</p>
                </div>
                <div class="item-input-div">
                    <p class="user-style1">{{user.accountName}}</p>
                    <p class="user-style2">{{user.accountUni}}</p>
                    <p class="user-style2">{{user.accountEmail}}</p>        
                </div>
            </div>
            <button name="logout" value="logout" class="account-style">Log out</button>
        </div>
        {% endif %}
        
    </div>
    </form>
  </body>
</html>