<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/profile.css">
    <link href="https://fonts.googleapis.com/css?family=Alatsi&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>

  <body>
      <form method="POST">
        <div class="page-frame">
        <div class="home-top">
            <p class="user-title">My Account</p>

            <button class="home-logout" type="submit" name="backward" value="back">
                <i class="material-icons" style="font-size: 30px; color:black;">menu</i>
            </button>
        </div>

        <div class="content">
            <div class="inputs-div">
                <div class="lable-div">
                    <p class="user-style1">Username</p>
                    <p class="user-style2">Univeristy</p>
                    <p class="user-style2">User Email</p>
                </div>
                <div class="item-input-div">
                    <p class="user-style1">{{username}}</p>
                    <p class="user-style2">{{universities}}</p>
                    <p class="user-style2">{{usermail}}</p>
                    
                </div>
            </div>
        </div>
        <button name="create-contract" value="new-contract" class="account-style">Log out</button>
    </div>
    </form>
  </body>
</html>