<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/item.css">
    <link href="https://fonts.googleapis.com/css?family=Alatsi&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>

  <body>
    <form method="POST">
    <div class="page-frame">
        <div class="home-top">
            <div class="top-buttons">
                {% if userStatus == True %}
                <button class="individual-button" type="submit" name="Profile" value="Profile">Profile</button>
                {% else %}
                <button class="individual-button" type="submit" name="Login" value="Login">Login</button>
                <button class="individual-button" type="submit" name="Signup" value="Signup">Sign Up</button>
                {% endif %}
                <button class="individual-button" type="submit" name="Request" value="Request">Request</button>
                <button class="individual-button" type="submit" name="Sell" value="Sell">Sell</button>
                <button class="individual-button" type="submit" name="Home" value="Home">Home</button>
            </div>
        </div>

        <div class="scroll-div">
            <div class="info-pack">
                <div class="question-box">
                    <p class="welcoming">{{requestInfo.requestTitle}}</p>
                    <p class="welcoming">{{requestInfo.requestCate}}</p>
                    <p class="welcoming">{{requestInfo.requestInfo}}</p>
                </div>   
                <div class="seller-info">
                    <p class="welcoming">{{requestInfo.userName}}</p>
                    <p class="welcoming">{{requestInfo.requestTime}}</p>
                </div>
            </div>
            
        </div>
    </div>
    </form>
    </body>
    <script>
        window.onscroll = function() {myFunction()};

        var header = document.getElementById("myHeader");
        var sticky = header.offsetTop;

        function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
        } else {
            header.classList.remove("sticky");
        }
        }
    </script>
</html>