<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Sell Page</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/sell.css">
        <link href="https://fonts.googleapis.com/css?family=Alatsi&display=swap" rel="stylesheet" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>

    <body>
        <form method="POST" enctype="multipart/form-data">
            <div class="page-frame">
                <div class="home-top">
                    <div class="top-buttons">
                        <button class="individual-button" type="submit" name="Home" value="Home">Home</button>
                        {% if userStatus == True %}
                        <button class="individual-button" type="submit" name="Profile" value="Profile">Profile</button>
                        {% else %}
                        <button class="individual-button" type="submit" name="Login" value="Login">{{userStatus}}</button>
                        <button class="individual-button" type="submit" name="Signup" value="Signup">Sign Up</button>
                        {% endif %}
                    </div>
                </div>
                <div class="question-box">
                    <p class="sell-title">Item Information</p>
                    <div class="inputs-div">
                        <div class="lable-div">
                            <label for="Name" class="lable-style1">Name</label>
                            <label for="Category" class="lable-style2">Type</label>
                            <label for="Description" class="lable-style2">Description</label>
                        </div>
                        <div class="item-input-div">
                            <input type="text" id= "Name" name="Name" class="input-style">
                            <input list="Type" id="Category" name="Category" class="input-style">
                                <datalist id="Type">
                                    <option value="Furniture">
                                    <option value="Electronices">
                                </datalist>
                            <textarea id="Description" name="Description" class="textarea-style"></textarea>
                        </div>
                    </div>
                    <button name="create-contract" value="new-contract" class="create-style">Publish Request</button> 
                </div>  
            </div>    
        </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    </body>  
</html>