<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/sell.css">
    <link href="https://fonts.googleapis.com/css?family=Alatsi&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>

  <body>
    <div class="page-frame">
        <div class="home-top">
            <div class="top-buttons">
                <form method="POST">
                    <button class="individual-button" type="submit" name="Home" value="Home">Home</button>
                    <button class="individual-button" type="submit" name="Request" value="Request">Request</button>
                    <button class="individual-button" type="submit" name="Login" value="Login">Personal</button>
                </form>
            </div>
        </div>
        
        <label for="file-upload" class="item-add-style">Upload Image</label>
        <input id="file-upload" name='upload_cont_img' type="file" style="display:none;">
        
        <div class="main-div">
            <div class="question-box">
              <form method="POST">
                <input class="num-items" type="text" name="Name">
                <input class="num-items" type="number" name="Price">
                <select class="button-option" name="Category">
                    <option value="Category" selected>Category</option>
                    <option value="Clothes">Clothes</option>
                    <option value="Furniture">Furniture</option>
                    <option value="Toy">Toy</option>
                </select>
                <input class="num-items" type="text" name="Description">
              </form>
            </div>

          <div class="question-box">
            
            <p>Do you have anything to donate?</p>
            <div class="radio-button">
              <input type="radio" id="donate1" name="donate" value="all" checked>
              <label for="donate1">Yes</label>
              <div style="width:10px;"></div>
              <input type="radio" id="donate2" name="donate" value="false">
              <label for="donate2">No</label>
            </div>
          </div>
          <div class="question-box">
            <p>Estimated time needed for checking at the counter:</p>
            <p class="estimation">15 minites</p>
            <p>Please select a date and time-slot to come to our counter with your items!</p>
            <div class="radio-button">
              <input type="date" id="item-source" name="item-source" class="button-option">
              <div style="width:10px;"></div>
              <input list="time-sources" id="item-source" name="item-source" class="button-option">
              <datalist id="time-sources">
                  <option value="Donation">
                  <option value="Sale">
              </datalist>
            </div>
          </div>
        </div>
        <form method="POST">
          <button name="create-contract" value="new-contract" class="create-style">Submit</button>
        </form>
        
        
    </div>
  </body>
</html>