<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/item.css">
    <link href="https://fonts.googleapis.com/css?family=Alatsi&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>

  <body>
    <form method="POST">
        

        <div class="item-info-card">
            <img src="{{item['itemImg']}}" class="item-img"/>
            <div>
                <p class="item-name">{{item["itemName"]}}</p>
            <!-- <p class="">{{item["itemCate"]}}</p> -->
            <p class="item-price">HKD {{item["itemPrice"]}}</p>
            <p class="item-info">{{item["itemInfo"]}}</p>
            <p class="item-owner">Seller Email: <span style="font-weight: 600;">{{item["itemOwner"]}}</span></p>
            <p class="item-location">Pick-up Location: <span style="font-weight: 600;">{{item["itemPickUp"]}}</span></p>
            <p>Additional Information</p>
            </div>
            
        </div>
        <div class="scroll-div">

            <div class="item-image">
                <div>
                    
                </div>
                
                <div style="display: flex; flex-direction: column; width: fit-content; margin-left: 250px; margin-top: 150px;">
                    <button type="submit" name="Contact" value="Contact" class="create-style">Contact Seller</button>
                    {% if item["itemStatus"] == "Available" %}
                        <button name="Reserve" value="Reserve" class="create-style">Reserve</button>
                    {% else %}
                        <button name="Reserve" value="Reserve" class="create-style" disabled>Reserved</button>
                    {% endif %}
                </div>
                
            </div>
            
        </div>

        <div class="home-top">
            <div class="top-logo">
                <img src="/static/data/ReUST-logo.jpeg"/>
                <p class="logo-font">LIFE2</p>
            </div>
            <div class="top-buttons-left">
                <button class="individual-button" type="submit" name="Home" value="Home">Home</button>
                <!-- <button class="individual-button" type="submit" name="Market" value="Market">Market</button>
                <button class="individual-button" type="submit" name="Demand" value="Demand">Request</button> -->
            </div>
            <div class="top-buttons">
                    {% if userStatus == True %}
                    <button class="individual-button" type="submit" name="Profile" value="Profile">Profile</button>
                    <!-- {% else %}
                    <button class="individual-button" type="submit" name="Login" value="Login">Login</button> -->
                    {% endif %}
            </div>
        </div>
    </form>
    </body>
    <script>
        window.onscroll = function() {myFunction()};

        var header = document.getElementById("myHeader");
        var sticky = header.offsetTop;

        function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
        } else {
            header.classList.remove("sticky");
        }
        }
    </script>
</html>