<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/item.css">
    <link href="https://fonts.googleapis.com/css?family=Alatsi&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<body>
    <form id="form" method="POST">

        <div class="item-info-card">
            <img src="/view/{{item['itemImg']}}" class="item-img" />

            <div class="item-scroll">
                <div class="item-static-info">
                    <p class="item-name">{{item["itemName"]}}</p>
                    <p class="item-price">HK${{item["itemPrice"]}}</p>
                    <div class="tag-div">
                        <span class="material-symbols-outlined cate-icon" style="font-size: 24px;">
                            category
                            </span>
                        <p class="item-cate-tag">{{item["itemCate"]}}</p>
                        <p class="item-quality-tag">{{item["itemCond"]}}</p>
                        
                    </div>
                    <p class="posted">Posted</p>
                    <p class="item-time-tag">{{item["itemTime"]}}</p>

                    <div class="location-div">
                        <p class="posted">Meet up</p>
                        <div class="item-location">
                            <span class="material-symbols-outlined location-icon" style="font-size: 22px;">
                                location_on
                            </span>
                            <p class="item-pickup-tag">{{item["itemPickUp"]}}</p>
                        </div>
                    </div>
                    <p class="posted">Description</p>
                    <p class="item-info">{{item["itemInfo"]}}</p>

                    {% if item["itemStatus"] == "Reserved" %}
                    <p style="color: red; font-weight: 600;">RESERVED!!</p>
                    {% endif %}
                </div>
                    
                <div class="contact-div">
                    <div class="owner-div">
                        <span class="material-symbols-outlined" style="font-size: 30px; color: #373737; padding-top: 10px;">
                            sentiment_satisfied
                            </span>
                        <p class="chat-owner">{{item["itemOwner"]}}</p>
                    </div>
                    {% if item['itemOwner'] != userName %}
                    <button class="chat-btn" name="Bargain" value="Chat">Chat</button>
                    {% else %}
                    <button class="delete-btn" name="item-delete" value="item-delete">Delete</button>
                    <!-- <button type="submit" name="item-delete" value="item-delete" class="delete-icon">
                        <span class="material-symbols-outlined" style="font-size: 30px;">
                            delete
                        </span>
                    </button> -->
                    {% endif %}
                </div>
            </div>
                
            <!-- </div> -->
        </div>

        <div class="blank"></div>
        <div class="home-top">
            <button class="top-logo" name="Home" value="Home">
                <img src="/static/data/ReUST-logo.jpeg" height="50px" />
                <p class="logo-font">LIFE2</p>
            </button>
            <div class="top-buttons-left">
                {% for c in itemCategories %}
                <button class="individual-button" type="submit" name="category" value="{{c}}">{{c}}</button>
                {% endfor %}
                <button class="individual-button" type="submit" name="category" value="All">All categories</button>
            </div>
            {% if userStatus == True %}
                <div class="top-buttons-right">
                    <button class="give-item" name="Create" value="Create-item">Give</button>
                    <button type="submit" name="Chat" value="Chat" class="chat-icon">
                        <span class="material-symbols-outlined forum-icon" style="font-size: 30px;">
                            forum
                        </span>
                    </button>
                    <button class="profile-icon" type="submit" name="Profile" value="Profile">
                        <p>{{userName}}</p>
                        <span class="material-symbols-outlined account-icon" style="font-size: 30px;">
                            account_circle
                        </span>
                        
                    </button>
                </div>
            {% endif %}
        </div>
        

        <div class="search-div">
            
            <i class="material-icons icon-search" style="font-size: 20px;">search</i>
            <div style="display: flex; flex-direction: row;">
                <input class="search" type="search" name="search-keyword" placeholder="Search the keyword here" />
                <button class="button-option" type="submit" name="Apply" value="Apply">Search</button>
            </div>
            
        </div>

        <div class="interactive-div">
            

            <!-- <div class="form-popup" id="myForm">
                {% if item["itemStatus"] != "Reserved"%}
                <label for="user-price"><b>Price</b></label>
                <input type="number" placeholder="Enter your intended price" name="user-price">
                {% endif %}
                <label for="user-notes"><b>Notes</b></label>
                <input type="text" placeholder="Any notes for the owner?" name="user-notes">
                <br/>
                <button type="submit" class="btn" name="submit" value="submit">Submit</button>
                <button type="button" class="btn cancel" onclick="closeForm()">Cancel</button>

            </div>

            {% if item["itemStatus"] != "Reserved" %}
            <button type="button" class="interaction-div" id="priceButton" onclick="openForm()">
                <span class="material-symbols-outlined" style="font-size: 50px;">
                    back_hand
                </span>
            </button>
            {% elif item["itemStatus"] == "Reserved" and item["itemReserve"] == bargainBuyer %}
            <button type="button" class="interaction-div" id="priceButton" onclick="openForm()">
                <span class="material-symbols-outlined hand-icon" style="font-size: 50px;">
                    back_hand
                </span>
            </button>
            {% endif %}
            <div class="bargain-timeline">
                <div class="timeline">
                    {% for v in bargainInfo %}
                        {% if v.sendBy == bargainBuyer %}
                        <div class="container right">
                        <div class="content">
                            <h2 style="color: black;">HKD {{v.price}} <span style="font-size: small;">{{v.sendTime}}</span></h2>
                            <p style="color: black;">{{v.notes}}</p>
                            {% if v.Status == "Pending" %}
                                <p style="color: orange;">{{v.Status}}</p>
                            {% elif v.Status == "Decline" %}
                                <p style="color: red;">{{v.Status}}</p>
                            {% elif v.Status == "Agree" %}
                                <p style="color: green;">{{v.Status}}</p>
                            {% else %}
                                <p style="color: black;">{{v.Status}}</p>
                            {% endif %}
                        </div>

                        </div>
                        {% else %}
                        <div class="container left">
                            <div class="content">
                                <h2 style="color: black;"><span style="font-size: small;">{{v.sendTime}}</span></h2>
                                <p style="color: black;">{{v.notes}}</p>
                            </div>
                          </div>
                        {% endif %}
                    {% endfor %}
            </div> -->
        </div>
        
        <script>
            function openForm() {
                document.getElementById("myForm").style.display = "flex";
            }
    
            function closeForm() {
                document.getElementById("myForm").style.display = "none";
            }
        </script>

    </form>
    
    
</body>

</html>