<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="/static/login.css">
  <link href="https://fonts.googleapis.com/css?family=Alatsi&display=swap" rel="stylesheet" />
  <meta name="google-signin-client_id"
    content="327261233442-5mnnd27s8f3m6ltcfqifmp201b9rvr05.apps.googleusercontent.com">
</head>

<body>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  
  <form method="POST">
  <img src="/static/data/life2-logo.png" class="logo-img"/>
  <img src="/static/data/login-background.png" class="background-img"/>
  <img src="/static/data/login-people.png" class="background-img"/>
  <p class="intro-txt">At our recommerce platform, we believe that every little bit counts when it comes to building a more sustainable world. That's why we're passionate about reducing waste, promoting circular consumption, and facilitating hassle-free transactions for HKUST students. Through our platform, we're striving to create a better future for ourselves, our communities, and our planet.</p>
  <button class="login-button" type="submit" name="Login" value="Login">Log in with SSO</button>

</form>
</body>

</html>