<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/lifeverse.css">
    <link href="https://fonts.googleapis.com/css?family=Alatsi&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,200" />
</head>

<body>
    <form method="POST" enctype="multipart/form-data">
        <!-- <div class="page-frame"> -->
            <div class="scroll-div">
                <!-- <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                <lottie-player src="/static/js/Animation1.json" background="transparent" speed="1" class="life2-anim"
                loop autoplay></lottie-player>
                <img class="head-img" src="/static/data/tree.jpeg" /> -->
                <div class="status-selection-div">
                    <button class="status-btn-all">All</button>
                    <button class="status-btn">Brand New</button>
                    <button class="status-btn">Free</button>
                </div>
                <div class="item-display-div">
                    {% for k, v in itemInfo.items() %}
                    <a href="item/{{v.itemID}}" style="text-decoration:none">
                        <div class="on-sale-block">
                            <img src={{v.itemImg}} class="display-image" />
                            <div class="shadow-div">
                                <p class="display-time">May 23 18:00</p>
                            </div>
                            <p class="display-name">{{v.itemName}}</p>
                            <p class="display-price">HK${{v.itemPrice}} <span class="display-status"> • Brand New</span></p>
                            <!-- <p class="green-value">32</p>
                            <span class="material-symbols-outlined green-icon" style="font-size: 35px;">
                                psychiatry
                            </span> -->
                            <!-- <span class="material-symbols-outlined bargain-icon">
                                gavel
                            </span> -->
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>

            <!-- <div class="request-div">
                <div class="request-floating-div">
                    
                    <marquee class="marquee-div" direction="down" height="100px" onmouseover="this.stop();" onmouseout="this.start();" scrollamount="1">
                        {% for k, v in requestInfo.items() %}
                        <a class="marquee-block" href="/demand/{{v.requestID}}">{{v.requestInfo}} --{{v.requestUser}}</a>
                        <br>
                        {% endfor %}
                    </marquee>
                </div>
                
                <div class="request-text-div">
                    <textarea maxlength="50" cols="3" name="request-congtent" class="request-input" ></textarea>

                </div>
                <button type="button" class="requestBtn" name="requestBtn" id="requestBtn">
                    <span class="material-symbols-outlined add-icon" style="font-size: 30px;">
                        add_circle
                    </span>
                </button>

                <div class="requestBtns" id="requestBtns">
                    <button class="request-cancel" id="request-cancel">Cancel</button>
                    <button class="request-send" name="request-send" value="request-send">Send</button>
                </div>

            </div> -->

            <!-- <div class="header" id="myHeader">
                

                <div class="filter-div">
                    <select name="Category" class="button-option">
                        <option value="">- Category -</option>
                        {% for c in itemCategories %}
                        {% if selected_cate == c %}
                        <option value="{{c}}" selected>{{c}}</option>
                        {% else %}
                        <option value="{{c}}">{{c}}</option>
                        {% endif%}
                        {% endfor %}
                    </select>
                    <select name="Price" class="button-option">
                        <option value="">- Price -</option>
                        {% for c in priceRange %}
                        {% if selected_price == c %}
                        <option value="{{c}}" selected>{{c}}</option>
                        {% else %}
                        <option value="{{c}}">{{c}}</option>
                        {% endif%}
                        {% endfor %}
                    </select>
                    <button class="button-option" type="submit" name="Apply" value="Apply">Apply</button>
                    <button class="button-option" type="submit" name="Clear" value="Clear">Clear</button>
                </div>
            </div> -->

            <div class="home-top">
                <div class="top-logo">
                    <img src="/static/data/ReUST-logo.jpeg" height="50px" />
                    <p class="logo-font">LIFE2</p>
                </div>
                <div class="top-buttons-left">
                    {% for c in itemCategories %}
                    <button class="individual-button" type="submit" name="category" value="{{c}}">{{c}}</button>
                    {% endfor %}
                    <button class="individual-button" type="submit" name="category" value="All">All categories</button>
                    <!-- <button type="button" class="collapsible">
                        <span class="material-symbols-outlined filter-icon" style="font-size: 30px;">
                            tune
                        </span>
                        <p>Filtering...</p>
                    </button> -->
                </div>
                {% if userStatus == True %}
                    <div class="top-buttons-right">
                        <button class="give-item" name="Create" value="Create-item">Give</button>
                        <button class="profile-icon" type="submit" name="Profile" value="Profile">
                            <span class="material-symbols-outlined" style="font-size: 34px;">
                                account_circle
                            </span>
                            <p>zguanad@connect.ust.hk</p>
                        </button>
                    </div>
                {% endif %}
            </div>
            

            <div class="search-div">
                
                <i class="material-icons icon-search" style="font-size: 20px;">search</i>
                <div style="display: flex; flex-direction: row;">
                    <input class="search" type="search" name="search-keyword" placeholder="{{search}}" />
                    <button class="button-option" type="submit" name="Apply" value="Apply">Search</button>
                </div>
                
            </div>
        <!-- </div> -->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    </form>

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var content = document.getElementsByClassName("header");
                var itemDisplay = document.getElementsByClassName("item-display-div");
                if (content[0].style.display == "block") {
                    content[0].style.display = "none";
                    // itemDisplay[0].style.marginTop = "60px";
                } else {
                    content[0].style.display = "block";
                    // itemDisplay[0].style.marginTop = "160px";
                }
            });
        }

        document.getElementById("requestBtn").addEventListener("click", function () {
            this.classList.toggle("active");
            var floating = document.getElementsByClassName("request-floating-div");
            var text = document.getElementsByClassName("request-text-div");
            var btn = document.getElementById("requestBtn");
            var btns = document.getElementById("requestBtns");
            if (floating[0].style.display == "block") {
                floating[0].style.display = "none";
                btn.style.display = "none";
                btns.style.display = "flex";
                text[0].style.display = "block";
            } else {
                floating[0].style.display = "block";
                text[0].style.display = "none";
            }
        });

        document.getElementById("request-cancel").addEventListener("click", function () {
            this.classList.toggle("active");
            var floating = document.getElementsByClassName("request-floating-div");
            var text = document.getElementsByClassName("request-text-div");
            var btn = document.getElementById("requestBtn");
            var btns = document.getElementById("requestBtns");
            if (text[0].style.display == "block") {
                floating[0].style.display = "block";
                btn.style.display = "block";
                btns.style.display = "none";
                text[0].style.display = "none";
            }
        });
    </script>
</body>

</html>