<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/profile.css">
    <link href="https://fonts.googleapis.com/css?family=Alatsi&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,700,0,200" />
  </head>

  <body>
    <form method="POST">
    <div class="page-frame">
        <div class="home-top">
            <button class="top-logo" name="Home" value="Home">
                <img src="/static/data/ReUST-logo.jpeg" height="50px" />
                <p class="logo-font">LIFE2</p>
            </button>
            <div class="top-buttons-left">
                {% for c in itemCategories %}
                <button class="individual-button" type="submit" name="category" value="{{c}}">{{c}}</button>
                {% endfor %}
                <button class="individual-button" type="submit" name="category" value="All">All categories</button>
                <!-- <button type="button" class="collapsible">
                    <span class="material-symbols-outlined filter-icon" style="font-size: 30px;">
                        tune
                    </span>
                    <p>Filtering...</p>
                </button> -->
            </div>

            <div class="top-buttons-right">
                <button class="give-item" name="Create" value="Create-item">Give</button>
                <button type="submit" name="Chat" value="Chat" class="chat-icon">
                    <span class="material-symbols-outlined forum-icon" style="font-size: 30px;">
                        forum
                    </span>
                </button>
                <button class="profile-icon" type="submit" name="Profile" value="Profile">
                    <!-- <span class="material-symbols-outlined" style="font-size: 34px;">
                        account_circle
                    </span> -->
                    <p>{{userName}}</p>
                </button>
            </div>
        </div>

        <div class="item-div">
            <div class="item-left">
                <button class="section-btn" type="submit" id="bargain" name="section" value="My Reserved Item">
                    My Reserved Items
                </button>
                <button class="section-btn" type="submit" id="item_list" name="section" value="My Item">
                    My Items
                </button>
                <!-- <button class="section-btn" type="submit" id="basic_info" name="section" value="Info">
                    Info
                </button> -->
                <button class="section-btn" type="submit" id="request_list" name="section" value="My Request">
                    My Requests
                </button>
                
                
            </div>

            {% if section == "My Request" %}
            <div class="item-right">
                <hr class="rounded">
                {% for k, v in requestInfo.items() %}
                <a href="/demand/{{v.requestID}}" class="request-link">
                    <!-- <span style="color: green; margin-right: 10px; text-align: end; white-space: pre-line;">{{v.userName}}</span> -->
                    <!-- <span style="color: blue; margin-right: 10px;">{{v.requestCate}}</span> -->
                    {{v.requestInfo}}
                    <!-- <span style="color: brown; margin-right: 10px; text-align: end; white-space: pre-line;">{{v.requestInfo}}</span> -->
                    <span style="color: #73A8AC; margin-left: 50px; text-align: end; white-space: pre-line; font-size: 14px; font-weight: 400;">{{v.requestTime}}</span>
                    
                </a>
                <hr class="rounded">
                {% endfor %}
            {% elif section == "My Reserved Item" %}
            <div class="item-right">
                <div class="display-table">
                    {% for item in myReservedItem %}
                    <a href="/market/item/{{item.itemID}}" style="text-decoration:none">
                        <div class="on-sale-block">
                            <img src="/view/{{ item.itemImg }}" width="340" class="display-image"/>
                            <p class="display-text" style="font-weight: 600;">{{item.itemName}}</p>
                            <p class="display-text">{{item.itemInfo}}</p>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
            {% else %}
            <!-- <div class="item-right">
                <div class="inputs-div">
                    <div class="lable-div">
                        <p class="user-style2">User Email</p>
                    </div>
                    <div class="item-input-div">
                        <p class="user-style2">{{userName}}</p>        
                    </div>
                </div>
                <button name="logout" value="logout" class="account-style">Log out</button>
            </div> -->
            <div class="item-right">
                <div class="display-table">
                    {% for item in myReservedItem %}
                    <a href="/market/item/{{item.itemID}}" style="text-decoration:none">
                        <div class="on-sale-block">
                            <img src="/view/{{ item.itemImg }}" width="340" class="display-image"/>
                            <p class="display-text" style="font-weight: 600;">{{item.itemName}}</p>
                            <p class="display-text">{{item.itemInfo}}</p>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            
        </div>
        <div style="width: 90%;">
            <button name="logout" value="logout" class="logout-btn">Log out</button>
        </div>
        
        
    </div>
    </form>
  </body>
</html>