<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="utf-8">
		<title>My first scene.js app</title>
		<link rel="stylesheet" href="/static/tree.css">
		<link rel="icon" href="data:,">
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	</head>
	
	<body>
		<form method="POST" enctype="multipart/form-data">
			<div class="intro-div">
				<img class="intro-bg" src="/static/data/landing-bg.jpeg"/>
				<div class="intro-txt">
					<p class="intro-txt-title">Make money while making a difference - Our recommerce platform is designed for HKUST students who care about the environment.</p>
					<p class="intro-txt-subtitle">Sign in with your SSO and start saving the money while making some money.</p>
					<button class="intro-login" type="submit" name="Login" value="Login">Log in with SSO</button>
				</div>
			</div>

			<div class="category-div">
				<p class="section-title">categories</p>
				<div class="category-all-btn">
					<i class="material-icons category-icon">grid_on</i>
					<a href="/market" class="category-txt">See all categories</a>
				</div>
				<div class="category-three">
					<button class="category-block-left" name="Electronics" value="Electronics">Electronics</button>
					<button class="category-block-middle" name="Clothing" value="Clothing">Clothing</button>
					<button class="category-block-right" name="Furnitures" value="Furnitures">Furnitures</button>
				</div>
			</div>

			<div class="community-div">
				<p class="section-title">community</p>
				<div class="community-split">
					<div class="community-intro">
						<img class="community-img" src="/static/data/ReUST-logo.jpeg"/>
						<p class="community-txt">At our recommerce platform, we believe that every little bit counts when it comes to building a more sustainable world. That's why we're passionate about reducing waste, promoting circular consumption, and facilitating hassle-free transactions for HKUST students. Through our platform, we're striving to create a better future for ourselves, our communities, and our planet.</p>
					</div>
					<div class="transaction-update">
						<div class="transaction-block-0">
							<p class="transaction-time">19:22 April 25, 2023</p>
							<p class="transaction-txt"><span style="color: #637C70;">Cici</span> published <span style="color: #637C70;">a cup</span></p>
						</div>
						<div class="transaction-block">
							<p class="transaction-time">18:39 April 25, 2023</p>
							<p class="transaction-txt"><span style="color: #637C70;">Alice</span> reserved <span style="color: #637C70;">a candle</span></p>
						</div>
						<div class="transaction-block">
							<p class="transaction-time">18:02 April 25, 2023</p>
							<p class="transaction-txt"><span style="color: #637C70;">Alfred</span> published a request of <span style="color: #637C70;">a bottle</span></p>
						</div>
						<div class="transaction-block">
							<p class="transaction-time">16:20 April 25, 2023</p>
							<p class="transaction-txt"><span style="color: #637C70;">Cici</span> published <span style="color: #637C70;">an iPhone</span></p>
						</div>
						<div class="transaction-block">
							<p class="transaction-time">16:13 April 25, 2023</p>
							<p class="transaction-txt"><span style="color: #637C70;">Alice</span> published a request of <span style="color: #637C70;">an AirPods</span></p>
						</div>
					</div>
				</div>
			</div>

			<div class="item-div">
				<p class="section-title">new items</p>
				<div class="category-all-btn">
					<i class="material-icons category-icon">grid_on</i>
					<a href="" class="category-txt">See all categories</a>
				</div>
				<div class="item-block-div">
					<div class="item-four">
						<div class="item-block-0">
							<div class="item-owner-div">
								<p class="item-owner-txt">Alfred Ho</p>
								<p class="item-time-txt">23 April, 2023</p>
							</div>
							<div class="item-img"></div>
							<div class="item-info-div">
								<p class="item-title-txt">Apple lightning cable</p>
								<p class="item-condition-txt">Lightly used</p>
								<p class="item-price-txt">HK$50</p>
							</div>
						</div>
						<div class="item-block">
							<div class="item-owner-div">
								<p class="item-owner-txt">Alfred Ho</p>
								<p class="item-time-txt">23 April, 2023</p>
							</div>
							<div class="item-img"></div>
							<div class="item-info-div">
								<p class="item-title-txt">Apple lightning cable</p>
								<p class="item-condition-txt">Lightly used</p>
								<p class="item-price-txt">HK$50</p>
							</div>
						</div>
						<div class="item-block">
							<div class="item-owner-div">
								<p class="item-owner-txt">Alfred Ho</p>
								<p class="item-time-txt">23 April, 2023</p>
							</div>
							<div class="item-img"></div>
							<div class="item-info-div">
								<p class="item-title-txt">Apple lightning cable</p>
								<p class="item-condition-txt">Lightly used</p>
								<p class="item-price-txt">HK$50</p>
							</div>
						</div>
						<div class="item-block">
							<div class="item-owner-div">
								<p class="item-owner-txt">Alfred Ho</p>
								<p class="item-time-txt">23 April, 2023</p>
							</div>
							<div class="item-img"></div>
							<div class="item-info-div">
								<p class="item-title-txt">Apple lightning cable</p>
								<p class="item-condition-txt">Lightly used</p>
								<p class="item-price-txt">HK$50</p>
							</div>
						</div>
					</div>
					<button class="item-login-btn" type="submit" name="Login" value="Login">Login to see more!</button>
				</div>	
			</div>

			<div class="tutorial-div">
				<p class="section-title">how it works</p>
				<div class="tutorial-steps-div">
					<div class="tutorial-step-block">
						<div class="tutorial-img-1"></div>
						<div class="tutorial-txt-div">
							<p class="tutorial-title-txt">Step 1: Create an account with your ITSC account</p>
							<p class="tutorial-content-txt">First things first, you'll need to create an account on our platform using your ITSC account credentials. This ensures that only HKUST students can use our platform and keeps it safe and secure.</p>
						</div>
					</div>
					<div class="tutorial-step-block">
						<div class="tutorial-txt-div">
							<p class="tutorial-title-txt txt-right">Step 2: List your products</p>
							<p class="tutorial-content-txt txt-right">Once you're logged in, it's time to start listing the products you want to sell. Take a picture of your items and input all the necessary information, like the product name, description, price, and condition. You can even categorize your products to make it easier for other students to find them.</p>
						</div>
						<div class="tutorial-img-2"></div>
					</div>
					<div class="tutorial-step-block">
						<div class="tutorial-img-3"></div>
						<div class="tutorial-txt-div">
							<p class="tutorial-title-txt">Step 3: Post your items!</p>
							<p class="tutorial-content-txt">Once you've listed your products, it's time to post them on our platform for other students to see. Make sure all the information is accurate and up-to-date to avoid any misunderstandings or disputes.</p>
						</div>
					</div>
					<div class="tutorial-step-block">
						<div class="tutorial-txt-div">
							<p class="tutorial-title-txt txt-right">Step 4: Browse and find your new favorite things</p>
							<p class="tutorial-content-txt txt-right">Now it's time to start browsing the products listed on our platform. You can search for products by category, brand, or keyword. You'll be able to view product details like price, description, and images, as well as reviews from other students. Who knows, you might just find your new favorite thing on our platform!</p>
						</div>
						<div class="tutorial-img-4"></div>
					</div>
					<div class="tutorial-step-block">
						<div class="tutorial-img-5"></div>
						<div class="tutorial-txt-div">
							<p class="tutorial-title-txt">Step 5: Communicate with the sellers</p>
							<p class="tutorial-content-txt">When you find a product you want to buy, you can communicate with the seller through our messaging system. This way, you can ask any questions you might have about the product, negotiate the price, or arrange a meet-up.</p>
						</div>
					</div>
					<div class="tutorial-step-block">
						<div class="tutorial-txt-div">
							<p class="tutorial-title-txt txt-right">Step 6: Meet up and exchange your goods</p>
							<p class="tutorial-content-txt txt-right">Once you and the seller have agreed on the terms of the transaction, it's time to meet up and exchange the product and payment. We recommend meeting in a public place on campus, like a library or café, to ensure your safety and security.</p>
						</div>
						<div class="tutorial-img-6"></div>
					</div>
					<button class="item-login-btn" type="submit" name="Login" value="Login">Login to see more!</button>
				</div>
			</div>
			
			<div class="top-bar">
				<div class="top-logo">
					<img src="/static/data/ReUST-logo.jpeg"/>
					<p class="logo-font">LIFE2</p>
				</div>
				<div class="top-buttons">
						{% if userStatus == True %}
						<button class="individual-button" type="submit" name="Profile" value="Profile">Profile</button>
						{% else %}
						<button class="individual-button" type="submit" name="Login" value="Login">Login</button>
						{% endif %}
						
				</div>
			</div>
		
		
		</form>
	</body>
</html>